<% include partials/_header %>

<div class="container-fluid pt-4 mt-3">
  <div class="row mt-3">
    <div class="col-lg-12">
      <div class="content-1">
      <div class="d-flex bg-secondary" style="height:150px">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
   <!--    <th>Descripcion <%= id %> </th> -->
   <!--    <th>Precio</th>                 -->
            <th>
              <button class="btn btn-danger btn-lg" type="button" type="submint">
                <a href="/torre/<%= '1' %>" class="btn btn-danger btn-lg btn-block">                                     
                  <h2 class="text-light">___LA TORRE_RETIRO___  __Pizzeria__Cafeteria__</h2>                                        
                </a>  
              </button>           
            </th>
            <th>
              <button class="btn btn-danger btn-lg" type="button" type="submint">
                <a href="/torre/<%= '1' %>" class="btn btn-danger btn-lg btn-block">                                     
                  <h2 class="text-light">___Retiro_Bs_As___ __(ver)_Carta_Digital__</h2>                                        
                </a>  
              </button>  
            </th> 
          </tr>
        </thead>
        <tbody>
        
          <% if (id == '1') { %>
            <% include partials/product01 %>
          <% } %>      

          <% if (id == '2') { %>
            <% include partials/produc02 %>
          <% } %>     

          <% if (id == '3') { %>
            <% include partials/produc03 %>
          <% } %>   

          <% if (id == '4') { %>
              <% include partials/produc04 %> 
          <% } %> 

          <% if (id == '5') { %>
              <% include partials/produc05 %> 
          <% } %>

          <% if (id == '6') { %>
              <% include partials/produc06 %> 
          <% } %>

          <% if (id == '7') { %>
              <% include partials/produc07 %> 
          <% } %>

          <% if (id == '8') { %>
              <% include partials/produc08 %> 
          <% } %>

          <% if (id == '9') { %>
             <% include partials/produc09 %> 
          <% } %>

           <% if (id == '10') { %>
              <% include partials/produc10 %> 
           <% } %>

           <% if (id == '11') { %>
              <% include partials/produc11 %> 
           <% } %>

           <% if (id == '12') { %>
              <% include partials/produc12 %> 
           <% } %>

           <% if (id == '13') { %>
              <% include partials/produc13 %> 
           <% } %>

           <% if (id == '14') { %>
              <% include partials/produc14 %> 
           <% } %>

           <% if (id == '15') { %>
              <% include partials/produc15 %> 
           <% } %>

           <% if (id == '16') { %>
              <% include partials/produc16 %> 
           <% } %>

           <% if (id == '17') { %>
              <% include partials/produc17 %> 
           <% } %>

           <% if (id == '18') { %>
              <% include partials/produc18 %> 
           <% } %>

           <% if (id == '19') { %>
              <% include partials/produc19 %> 
           <% } %>
           
           <% if (id == '20') { %> 
              <% include partials/produc20 %>  
           <% } %>    

          <% if (id == '21') { %>
            <% include partials/produc21 %>
          <% } %>      

          <% if (id == '22') { %>
            <% include partials/produc22 %>
          <% } %>     

          <% if (id == '23') { %>
            <% include partials/produc23 %>
          <% } %>   

          <% if (id == '24') { %>
            <% include partials/produc24 %> 
          <% } %> 

          <% if (id == '25') { %>
            <% include partials/produc25 %> 
          <% } %>

          <% if (id == '26') { %>
            <% include partials/produc26 %> 
          <% } %>

          <% if (id == '27') { %>
            <% include partials/produc27 %> 
          <% } %>

          <% if (id == '28') { %>
            <% include partials/produc28 %> 
          <% } %>

          <% if (id == '29') { %>
            <% include partials/produc29 %> 
          <% } %>

           <% if (id == '30') { %>
            <% include partials/produc30 %> 
           <% } %>

           <% if (id == '31') { %>
            <% include partials/produc31 %> 
           <% } %>

           <% if (id == '32') { %>
            <% include partials/produc32 %> 
           <% } %>

           <% if (id == '33') { %>
            <% include partials/produc33 %> 
           <% } %>

           <% if (id == '34') { %>
            <% include partials/produc34 %> 
           <% } %>

           <% if (id == '35') { %>
            <% include partials/produc35 %> 
           <% } %>

           <% if (id == '36') { %>
            <% include partials/produc36 %> 
           <% } %>

           <% if (id == '37') { %>
            <% include partials/produc37 %> 
           <% } %>

           <% if (id == '38') { %>
            <% include partials/produc38 %> 
           <% } %>

           <% if (id == '39') { %>
            <% include partials/produc39 %> 
           <% } %>
           
           <% if (id == '40') { %> 
            <% include partials/produc40 %>  
           <% } %>  
 
           <% if (id == '41') { %>
            <% include partials/produc41 %>
          <% } %>      

          <% if (id == '42') { %>
            <% include partials/produc42 %>
          <% } %>     

          <% if (id == '43') { %>
            <% include partials/produc43 %>
          <% } %>   

          <% if (id == '44') { %>
            <% include partials/produc44 %> 
          <% } %> 

          <% if (id == '45') { %>
            <% include partials/produc45 %> 
          <% } %>

          <% if (id == '46') { %>
            <% include partials/produc46 %> 
          <% } %>

          <% if (id == '47') { %>
            <% include partials/produc47 %> 
          <% } %>

          <% if (id == '48') { %>
            <% include partials/produc48 %> 
          <% } %>

          <% if (id == '49') { %>
            <% include partials/produc49 %> 
          <% } %>

          <% if (id == '50') { %>
            <% include partials/produc50 %> 
          <% } %>

          <% if (id == '51') { %>
            <% include partials/produc51 %> 
          <% } %>

          <% if (id == '52') { %>
            <% include partials/produc52 %> 
          <% } %>

          <% if (id == '53') { %>
            <% include partials/produc53 %> 
          <% } %>

          <% if (id == '54') { %>
            <% include partials/produc54 %> 
          <% } %>

          <% if (id == '55') { %>
            <% include partials/produc55 %> 
          <% } %>

          <% if (id == '56') { %>
            <% include partials/produc56 %> 
          <% } %>

          <% if (id == '57') { %>
            <% include partials/produc57 %> 
          <% } %>

          <% if (id == '58') { %>
            <% include partials/produc58 %> 
          <% } %>

          <% if (id == '59') { %>
            <% include partials/produc59 %> 
          <% } %>
           
          <% if (id == '60') { %> 
            <% include partials/produc60 %>  
          <% } %>    

          <% if (id == '61') { %>
            <% include partials/produc61 %>
          <% } %>      

          <% if (id == '62') { %>
            <% include partials/produc62 %>
          <% } %>     

          <% if (id == '63') { %>
            <% include partials/produc63 %>
          <% } %>   

          <% if (id == '64') { %>
            <% include partials/produc64 %> 
          <% } %> 

          <% if (id == '65') { %>
            <% include partials/produc65 %> 
          <% } %>

          <% if (id == '66') { %>
            <% include partials/produc66 %> 
          <% } %>

          <% if (id == '67') { %>
            <% include partials/produc67 %> 
          <% } %>

          <% if (id == '68') { %>
            <% include partials/produc68 %> 
          <% } %>

          <% if (id == '69') { %>
            <% include partials/produc69 %> 
          <% } %>

          <% if (id == '70') { %>
            <% include partials/produc70 %> 
          <% } %>

          <% if (id == '71') { %>
            <% include partials/produc71 %> 
          <% } %>

          <% if (id == '72') { %>
            <% include partials/produc72 %> 
          <% } %>

          <% if (id == '73') { %>
            <% include partials/produc73 %> 
          <% } %>

          <% if (id == '74') { %>
            <% include partials/produc74 %> 
          <% } %>

          <% if (id == '75') { %>
            <% include partials/produc75 %> 
          <% } %>

          <% if (id == '76') { %>
            <% include partials/produc76 %> 
          <% } %>

          <% if (id == '77') { %>
            <% include partials/produc77 %> 
          <% } %>

          <% if (id == '78') { %>
            <% include partials/produc78 %> 
          <% } %>

          <% if (id == '79') { %>
            <% include partials/produc79 %> 
          <% } %>
           
          <% if (id == '80') { %> 
            <% include partials/produc80 %>  
          <% } %>            

        </tbody>
      </table>
    </div> 
    </div>     
    </div>    
  </div>
</div>

<% include partials/_footer %>
