<% include partials/_headers %>

<div class="container-fluid mt-3">
   <div class="col-sm-12">
     <button class="btn btn-danger btn-lg btn-block" type="button" type="submint">
       <a href="/torre/<%= '1' %>" class="btn btn-danger btn-lg btn-block">                                     
         <h6 class="text-light">LA TORRE RETIRO - av.Del Libertador 118 - Retiro - Bs.As: - Tel.4311-3515</h6>                                        
       </a>  
     </button>   
   </div>
 </div>

       <% if (id == '1') { %>
         <% include partials/snipet01 %>
       <% } %>      

       <% if (id == '2') { %>
         <% include partials/snipet02 %>
       <% } %>     

       <% if (id == '3') { %>
         <% include partials/snipet03 %>
       <% } %>   

       <% if (id == '4') { %>
           <% include partials/snipet04 %> 
       <% } %> 

       <% if (id == '5') { %>
           <% include partials/snipet05 %> 
       <% } %>

       <% if (id == '6') { %>
           <% include partials/snipet06 %> 
       <% } %>

       <% if (id == '7') { %>
           <% include partials/snipet07 %> 
       <% } %>

       <% if (id == '8') { %>
           <% include partials/snipet08 %> 
       <% } %>

       <% if (id == '9') { %>
          <% include partials/snipet09 %> 
       <% } %>

       <% if (id == '10') { %>
          <% include partials/snipet10 %> 
       <% } %>

       <% if (id == '11') { %>
          <% include partials/snipet11 %> 
       <% } %>

       <% if (id == '12') { %>
          <% include partials/snipet12 %> 
       <% } %>

       <% if (id == '13') { %>
          <% include partials/snipet13 %> 
       <% } %>

       <% if (id == '14') { %>
          <% include partials/snipet14 %> 
       <% } %>

       <% if (id == '15') { %>
          <% include partials/snipet15 %> 
       <% } %>

       <% if (id == '16') { %>
          <% include partials/snipet16 %> 
       <% } %>

       <% if (id == '17') { %>
          <% include partials/snipet17 %> 
       <% } %>

       <% if (id == '18') { %>
          <% include partials/snipet18 %> 
       <% } %>

       <% if (id == '19') { %>
          <% include partials/snipet19 %> 
       <% } %>
        
       <% if (id == '20') { %> 
          <% include partials/snipet20 %>  
       <% } %>    

       <% if (id == '21') { %>
          <% include partials/snipet21 %>
       <% } %>      

       <% if (id == '22') { %>
          <% include partials/snipet22 %>
       <% } %>     

       <% if (id == '23') { %>
          <% include partials/snipet23 %>
       <% } %>   

       <% if (id == '24') { %>
          <% include partials/snipet24 %> 
       <% } %> 

       <% if (id == '25') { %>
          <% include partials/snipet25 %> 
       <% } %>

       <% if (id == '26') { %>
          <% include partials/snipet26 %> 
       <% } %>

       <% if (id == '27') { %>
          <% include partials/snipet27 %> 
       <% } %>

       <% if (id == '28') { %>
          <% include partials/snipet28 %> 
       <% } %>

       <% if (id == '29') { %>
          <% include partials/snipet29 %> 
       <% } %>

       <% if (id == '30') { %>
          <% include partials/snipet30 %> 
       <% } %>

       <% if (id == '31') { %>
          <% include partials/snipet31 %> 
       <% } %>

       <% if (id == '32') { %>
          <% include partials/snipet32 %> 
       <% } %>

       <% if (id == '33') { %>
          <% include partials/snipet33 %> 
       <% } %>

       <% if (id == '34') { %>
          <% include partials/snipet34 %> 
       <% } %>

       <% if (id == '35') { %>
          <% include partials/snipet35 %> 
       <% } %>

       <% if (id == '36') { %>
          <% include partials/snipet36 %> 
       <% } %>

       <% if (id == '37') { %>
          <% include partials/snipet37 %> 
       <% } %>

       <% if (id == '38') { %>
          <% include partials/snipet38 %> 
       <% } %>

       <% if (id == '39') { %>
          <% include partials/snipet39 %> 
       <% } %>
        
       <% if (id == '40') { %> 
          <% include partials/snipet40 %>  
       <% } %> 

       <% if (id == '41') { %>
         <% include partials/snipet41 %>
       <% } %>      

       <% if (id == '42') { %>
          <% include partials/snipet42 %>
       <% } %>     

       <% if (id == '43') { %>
          <% include partials/snipet43 %>
       <% } %>   

       <% if (id == '44') { %>
          <% include partials/snipet44 %> 
       <% } %> 

       <% if (id == '45') { %>
          <% include partials/snipet45 %> 
       <% } %>

       <% if (id == '46') { %>
          <% include partials/snipet46 %> 
       <% } %>

       <% if (id == '47') { %>
          <% include partials/snipet47 %> 
       <% } %>

       <% if (id == '48') { %>
          <% include partials/snipet48 %> 
       <% } %>

       <% if (id == '49') { %>
          <% include partials/snipet49 %> 
       <% } %>

       <% if (id == '50') { %>
          <% include partials/snipet50 %> 
       <% } %>

       <% if (id == '51') { %>
          <% include partials/snipet51 %> 
       <% } %>

       <% if (id == '52') { %>
          <% include partials/snipet52 %> 
       <% } %>

       <% if (id == '53') { %>
          <% include partials/snipet53 %> 
       <% } %>

       <% if (id == '54') { %>
          <% include partials/snipet54 %> 
       <% } %>

       <% if (id == '55') { %>
          <% include partials/snipet55 %> 
       <% } %>

       <% if (id == '56') { %>
          <% include partials/snipet56 %> 
       <% } %>

       <% if (id == '57') { %>
          <% include partials/snipet57 %> 
       <% } %>

       <% if (id == '58') { %>
          <% include partials/snipet58 %> 
       <% } %>

       <% if (id == '59') { %>
          <% include partials/snipet59 %> 
       <% } %>
        
       <% if (id == '60') { %> 
          <% include partials/snipet60 %>  
       <% } %>    

       <% if (id == '61') { %>
          <% include partials/snipet61 %>
       <% } %>      

       <% if (id == '62') { %>
          <% include partials/snipet62 %>
       <% } %>     

       <% if (id == '63') { %>
          <% include partials/snipet63 %>
       <% } %>   

       <% if (id == '64') { %>
          <% include partials/snipet64 %> 
       <% } %> 

       <% if (id == '65') { %>
          <% include partials/snipet65 %> 
       <% } %>

       <% if (id == '66') { %>
          <% include partials/snipet66 %> 
       <% } %>

       <% if (id == '67') { %>
          <% include partials/snipet67 %> 
       <% } %>

       <% if (id == '68') { %>
          <% include partials/snipet68 %> 
       <% } %>

       <% if (id == '69') { %>
          <% include partials/snipet69 %> 
       <% } %>

       <% if (id == '70') { %>
          <% include partials/snipet70 %> 
       <% } %>

       <% if (id == '71') { %>
          <% include partials/snipet71 %> 
       <% } %>

       <% if (id == '72') { %>
          <% include partials/snipet72 %> 
       <% } %>

       <% if (id == '733') { %>
          <% include partials/snipet73 %> 
       <% } %>

       <% if (id == '74') { %>
          <% include partials/snipet74 %> 
       <% } %>

       <% if (id == '75') { %>
          <% include partials/snipet75 %> 
       <% } %>

       <% if (id == '76') { %>
          <% include partials/snipet76 %> 
       <% } %>

       <% if (id == '77') { %>
          <% include partials/snipet77 %> 
       <% } %>

       <% if (id == '78') { %>
          <% include partials/snipet78 %> 
       <% } %>

       <% if (id == '79') { %>
          <% include partials/snipet79 %> 
       <% } %>
       
       <% if (id == '80') { %> 
          <% include partials/snipet80 %>  
       <% } %> 

      <% if (id == '81') { %> 
         <% include partials/sniptcaf %>  
      <% } %> 

      <% if (id == '82') { %> 
         <% include partials/sniptbeb %>  
      <% } %> 

      <% if (id == '83') { %> 
         <% include partials/sniptcom %>  
      <% } %> 

      <% if (id == '84') { %> 
         <% include partials/sniptpos %>  
      <% } %> 

      <% if (id == '85') { %> 
         <% include partials/sniptall %>  
      <% } %> 

  <% include partials/_footer %>