<% include partials/_headers %>

<div class="container-fluid mt-3">
   <div class="col-sm-12">
     <button class="btn btn-danger btn-lg btn-block" type="button" type="submint">
       <a href="/torre/<%= '1' %>" class="btn btn-danger btn-lg btn-block">                                     
         <h6 class="text-light">LA TORRE RETIRO - av.Del Libertador 118 - Retiro - Bs.As: - Tel.4311-3515</h6>                                        
       </a>  
     </button>   
   </div>
 </div>

       <% if (id == '1') { %>
         <% include partials/snipet01 %>
       <% } %>      

       
       <% if (id == '80') { %> 
          <% include partials/snipet80 %>  
       <% } %> 

      <% if (id == '81') { %> 
         <% include partials/sniptcaf %>  
      <% } %> 

      <% if (id == '82') { %> 
         <% include partials/sniptbeb %>  
      <% } %> 

      <% if (id == '83') { %> 
         <% include partials/sniptcom %>  
      <% } %> 

      <% if (id == '84') { %> 
         <% include partials/sniptpos %>  
      <% } %> 

      <% if (id == '85') { %> 
         <% include partials/sniptall %>  
      <% } %> 

  <% include partials/_footer %>