<div class="container-fluid mt-3">
   <div class="col-sm-12">
     <button class="btn btn-danger btn-lg btn-block" type="button" type="submint">
       <a href="/torre/<%= '1' %>" class="btn btn-danger btn-lg btn-block">                                     
         <h6 class="text-light">LA TORRE RETIRO - av.Del Libertador 118 - Retiro - Bs.As. - Tel.4311-3515</h6>                                        
       </a>  
     </button>   
   </div>
 </div>

   </body>
</html>
