
 <!DOCTYPE html>
 <html lang="es">
 
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>LA TORRE RETIRO</title>
    <!-- BOOSTRAP-4 CSS CDN -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
     integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
     crossorigin="anonymous">
    <!-- FONT AWESOME-5 -->
     <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js">
     </script>
     <!-- CUSTOM CSS -->
     <link rel="stylesheet" href="styles.css">
 </head>
<body>
    
