          <tr>                                                                  
            <td>                                                                
              <p> vacio                         000RR </p>                      
            </td>                                                               
            <td>                                                                
            <p>    $0,00 </p>                                                   
            </td>                                                               
          </tr>                                                                 
