          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> HIELO ADICIONAL               177BE </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">    $0,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> RODAJA LIMON                  178BE </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">   $15,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> H.2.OH.SABORIZADA             179BE </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">  $120,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> GASEOSAS                      180BE </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">  $120,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> AGUA MINERAL                  181BE </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">  $120,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> LIMON ADICIONAL               182BE </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">   $15,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> AGUA-GASEO.                   183BE </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">  $100,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> AGUA-GASEO.1 1/2              184BE </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">  $160,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> LIMON - MENTA                 185BE </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">  $225,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
