          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> COPA PUNTA CUORE               </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $910,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> DON PEDRO                      </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $510,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> 1/2 COPA HELADA                </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $190,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> HELADO 2 O 3 GUSTOS            </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $375,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> COPA DAIANA                    </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $500,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> BANANA SPLIT                   </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $550,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> SORBETTE                       </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $500,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> ALMENDRADO                     </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $350,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> BOMBON SUIZO                   </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $350,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> CHARLOTE                       </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $400,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
