          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> EMPANADA DE VIGILIA            </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">   $30,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> TARTA ACELGA                   </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $290,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> TARTA JAMON Y QUESO            </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $310,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> TARTA ZAPALLITO                </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $290,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> DOCEN.EMP.ESPECIAL             </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">    $0,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> EMPANADA                       </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">   $65,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> EMPANADAS                      </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">   $65,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> PROMO EMPANAD                  </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $630,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> EMPANADA VIGILIA               </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">   $80,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
