          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> MANT.OLEO.FILE.BCA.           310CO </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">  $120,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> CREMA                         311CO </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">  $155,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> PESTO ROSE MIXTA              312CO </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">  $135,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> CUATRO QUESOS                 313CO </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">  $180,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> SCARPARO                      314CO </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">  $170,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> BOLOGNESA                     315CO </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">  $170,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> CREM.CAMARON                  316CO </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">  $210,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> LIGHT                         317CO </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">  $170,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> MEDITERRANEA                  318CO </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">  $180,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> PARISIENNE                    319CO </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">  $190,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> PRINCIPE NAPOLI               327CO </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">  $190,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> GRAN CARUSO                   328CO </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">  $190,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> ESTOFADO                      329CO </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">  $180,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
