          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> GRATIN. C/QUESO               133CO </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">   $60,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> CHAMPIGNON PROVENZAL          364CO </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">    $0,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> GUAR.VERD.CREMA               365CO </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">  $260,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> ARROZ GRATINADO               366CO </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">  $230,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> GUAR.PAPA.HORNO               367CO </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">  $190,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> GUAR.PURE GRATINADO           368CO </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">  $210,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> GUAR, PAPA A LA CREMA         369CO </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">  $250,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> RABAS A LA ROMA               370CO </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">  $590,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> GUAR.PAPAS FRITAS             371CO </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">  $150,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> GUAR.PAPAS NOISETTE           372CO </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">  $180,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> GUAR.PANACHE VERDURAS         373CO </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">  $210,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> GUAR. ARROZ BLANCO            374CO </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">  $140,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> GUAR.PURE PAPAS               375CO </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">  $150,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> GUAR.ENS.MIXTA                376CO </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">  $160,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> GUAR.PAPA NATURAL             377CO </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">  $140,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> GUAR.PANACHE GRATINADO        378CO </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">  $230,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> GUAR.VEGE.GRILLE.             379CO </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">  $240,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> HUEVO ADICIONAL               380CO </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">   $75,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> ADICIONAL PROVE               381CO </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">   $80,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> TOMATE ABIERTO                382CO </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">  $160,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> SALAD MEDIANO                 383CO </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">  $310,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> SALAD GRANDE                  384CO </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">  $350,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> ADICIO.SALA.MED               385CO </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">   $50,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> ADICIO.SALA.GDE.              386CO </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">   $60,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> ADICIO.SALA.MED.              387CO </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">   $70,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> ADICIO.SALA.GDE               388CO </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">   $80,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> GUAR.PURE MAZANA              389CO </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">  $210,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> GUAR.WOK VEGETALES            397CO </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">    $0,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> GUAR.MUZARELA MILANESA        740CO </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">    $0,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> CROQUET.ACELGA                741CO </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">    $0,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> GUAR.ENS.RUSA                 742CO </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">  $180,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> GUAR.ENSAL.WALDORF            743CO </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">  $230,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
