          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> BIFE DE COSTILLA               </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $530,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> BIFE COSTILLA TRIPL. GUAR      </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $660,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> BIFE DE LOMO                   </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $680,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> BIFE DE CHORIZO                </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $620,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> PECHUGA GRILLE                 </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $290,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> MATAMBRE TERNERA  SOLO         </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $290,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> MATAMBRE DE POLLO CASERO       </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $290,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> SALMON ROSADO GRILLE           </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $780,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> TRUCHA GRILLE                  </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $680,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> MIN BIFE  C/FRITAS O PURE      </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $605,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> MINI BIFE DE CHORIZO.          </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $440,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> BIFE CHORIZO TRIPLE GUARN      </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $860,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
