          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> IND. MUZZARELA                 </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $350,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> ADICIONAL PIZZA CHICA          </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $155,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> PROMO GRDE MUZZA C/Q 1L        </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $770,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> PROMO GDE NAP QUIL 1L          </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark"> $1000,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> PROMO GR FUGAZZETA C/Q 1L      </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark"> $1010,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> PROMO GR J Y M C/Q 1L          </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark"> $1010,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> PROMO GR MUZZA C/ 2 BEBID      </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $680,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> GR. PROVOLONE                  </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $710,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> GR.MARGARITA                   </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $700,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> GR.PALMITOS                    </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $770,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> GR.NAPOLITANA C/JAMON          </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $710,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> GR. NAPOLITANA                 </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $700,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> INDI.PUNTA CUORE               </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $635,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> INDI.MUZZARELLA                </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $350,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> INDI.CON JAMON                 </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $460,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> INDI.JAMON Y MORRONES          </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $550,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> INDI.CALABREZA                 </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $550,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> INDI.NAPOLITANA                </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $480,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> INDI.NAPOLI.C/JAMON            </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $550,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> INDI.PALMITOS                  </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $560,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> INDI.MARGARITA                 </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $480,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> INDI.PROVOLONE                 </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $550,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> INDI.ROQUEFORT                 </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $550,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> INDI.CANTIMPALO                </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $550,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> INDI.FUGAZZA                   </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $350,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> INDI.FUGAZZETTA                </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $550,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> CHICA PUNTA CUORE              </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $700,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> CHICA MUZZARELLA               </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $410,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> CHICA CON JAMON                </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $540,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> CHICA JAMON Y MORRONES         </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $635,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> CHICA CALABREZA                </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $635,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> CHICA NAPOLITANA               </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $620,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> CHICA NAPOLI.C/JAMON           </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $635,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> CHICA PALMITOS                 </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $355,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> CHICA MARGARITA                </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $620,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> CHICA PROVOLONE                </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $635,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> CHICA ROQUEFORT                </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $635,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> CHICA CANTIMPALO               </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $635,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> CHICA FUGAZZA                  </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $410,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> CHICA FUGAZZETTA               </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $635,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> ADICIONAL PIZZA INDIVIDUA      </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $135,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> PORCION DE FAINA               </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $100,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> GR.PUNTA CUORE                 </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $870,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> GR.MUZZARELLA                  </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $470,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> GR.CON JAMON                   </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $590,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> GR.JAMON Y MORRONES            </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $710,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> GR.CALABREZA                   </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $710,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> ADICIONAL PIZZA GRANDE         </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $180,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> GR.ROQUEFORT                   </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $710,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> GR.CANTIMPALO                  </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $710,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> GR.FUGAZZA                     </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $470,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> GR.FUGAZZETTA                  </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $710,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> PROMO GR NAP C/2 BEBIDAS       </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $900,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> PROMO MUZZA C/FAINA QX1L       </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $870,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> PRO 1 GR MUZZA 2 EMP 11/2      </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $820,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
