          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> COPITA DE LIMON               197BE </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">   $40,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> PORRON / LATA STOUT           199BE </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">  $200,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> CHOPP STELLA                  200BE </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">    $0,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> CHOPP QUILMES                 201BE </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">  $120,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> QUILMES LITRO                 202BE </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">  $290,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> QUILMES LITRO                 203BE </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">  $290,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> STELLA LITRO                  204BE </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">  $410,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> PORRON STELLA**CORONA         206BE </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">  $220,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> LIBERTY LATA PORRON           207BE </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">    $0,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> QUILMES BOCK PORRON           208BE </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">  $200,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> STELLA  LITRO                 209BE </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">  $410,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
