          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> GUARNICION ESPECIAL            </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $130,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> TORTILLA ESPANOLA              </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $450,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> TORTILLA DE PAPA O VERDUR      </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $420,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> REVUELTO GRAMAJO               </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $420,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> GUARNICION                     </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">   $80,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> PORCION DE PAPAS FRITAS        </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $160,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> PAPAS NORTENAS                 </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $340,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> BASTONCITOS DE MUZZA           </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $450,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> REC PROVENZAL                  </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">   $25,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> PAPAS RUSTICAS CON MIEL        </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $350,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> ESPINACA A LA CREMA            </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $270,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h1 class="text-dark"> PANACHE VERDURAS               </h1>                                                       
            </td>                                                                                                               
            <td>                                                                                                                
            <h1 class="text-dark">  $420,00 </h1>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
