          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> TIA MARIA RHUM                219BE </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">  $180,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> VODKA-GIN-LEGUI-ANIS          220BE </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">  $180,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> COINTREAU                     221BE </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">    $0,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> JOHNNIE WALKER BLACK          222BE </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">  $630,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> RESERVA SAN JUA               223BE </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">  $220,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> JOHNNIE WALKER AZUL           224BE </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">    $0,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> OLD SMUGLER --CRIADORES       225BE </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">  $190,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> PREMIUN BLENDER               226BE </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">  $190,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> J & B                         227BE </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">  $390,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> CHIVAS REGAL                  229BE </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">  $490,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <h2 class="text-dark"> J. WALKER ROJA                230BE </h2>                                                  
            </td>                                                                                                               
            <td>                                                                                                                
            <h2 class="text-dark">  $530,00 </h2>                                                                               
            </td>                                                                                                               
          </tr>                                                                                                                 
