          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/torre/snippet/<%= '23' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> BEBIDAS   SIN ALCOHO  ____bebidas_____23be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/torre/snippet/<%= '24' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> BEBIDAS ALCOHOLICAS   ____bebidas_____24be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/torre/snippet/<%= '25' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> LICORES               ____bebidas_____25be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
