          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/torre/snippet/<%= '1' %>" class="btn btn-danger btn-lg btn-block">                                      
                <h2 class="text-light"> CAFETERIA             ___cafeteria____01ca </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/torre/snippet/<%= '2' %>" class="btn btn-danger btn-lg btn-block">                                      
                <h2 class="text-light"> CAFE ESPECIALES       ___cafeteria____02ca </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/torre/snippet/<%= '3' %>" class="btn btn-danger btn-lg btn-block">                                      
                <h2 class="text-light"> DESAYUNOS Y TORTAS    ___cafeteria____03ca </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
