    <section class="pricing py-5">                                                                                              
      <div class="container bg-info">                                                                                           
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-info text-uppercase text-center">POSTRES             </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>FRUTAS A ELECCION . . . .  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>BUDIN DE PAN . . . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>FLAN CASERO . . . . . . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA DE FRUTAS . . .  $240</li>                          
                <li class="text-center"><span class="fa-li"></span>DURAZ O ANAN EN ALMIBAR . $160</li>                          
                <li class="text-center"><span class="fa-li"></span>VIGILANTE . . . . . . . . $160</li>                          
                <li class="text-center"><span class="fa-li"></span>FRUTILLA PORCION . . . .   $70</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS DE FRUTAS C/HELADO .  $130</li>                          
                <li class="text-center"><span class="fa-li"></span>VIGILANTE . . . . . . . . $160</li>                          
                <li class="text-center"><span class="fa-li"></span>BOCHA DE HELADO . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>HELADO 2 GUSTOS . . . . . $240</li>                          
                <li class="text-center"><span class="fa-li"></span>HELADO MIXTO . . . . . .  $270</li>                          
                <li class="text-center"><span class="fa-li"></span>MOUSE DE CHOCOLATE . . .   $70</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA LA TORRE POSTRE . .  $360</li>                          
                <li class="text-center"><span class="fa-li"></span>BANANA SPLIT . . . . . .  $820</li>                          
                <li class="text-center"><span class="fa-li"></span>POSTRE LA TORRE . . . . . $850</li>                          
                <li class="text-center"><span class="fa-li"></span>PAN DULCE . . . . . . . . $650</li>                          
                <li class="text-center"><span class="fa-li"></span>TATIN . . . . . . . . . . $360</li>                          
                <li class="text-center"><span class="fa-li"></span>FLAN COMPLETO . . . . . . $190</li>                          
                <li class="text-center"><span class="fa-li"></span>PANQUEQUE MANZANA AL RHUM $300</li>                          
                <li class="text-center"><span class="fa-li"></span>PANQUEQUE DE DULCE SANCOR $220</li>                          
                <li class="text-center"><span class="fa-li"></span>DON PEDRO . . . . . . . . $320</li>                          
                <li class="text-center"><span class="fa-li"></span>FLAN CON HELADO Y FRUTAS  $500</li>                          
                <li class="text-center"><span class="fa-li"></span>MANZANA ASADA . . . . . . $130</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/torre/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
