    <section class="pricing py-5">                                                                                              
      <div class="container bg-success">                                                                                        
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">BEBIDAS   SIN ALCOHO</h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SABORISADAS . . . . . . . $160</li>                          
                <li class="text-center"><span class="fa-li"></span>GASEOSA O AGUA MINERAL .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>LICUADO DE BANA-DURAZ-ANA $220</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA .DE LIMON . . . . .   $50</li>                          
                <li class="text-center"><span class="fa-li"></span>LICUADO MULTIFRUTAS . . . $240</li>                          
                <li class="text-center"><span class="fa-li"></span>JUGO NATURAL DE NARANJA . $200</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">BEBIDAS ALCOHOLICAS </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>COPA MOSCATO . . . . . .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA DE LOPEZ . . . . . . $200</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA DE LA CASA . . . . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA RINCON FAMOSO . . .  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>JARRA DE CERVEZA . . . .  $430</li>                          
                <li class="text-center"><span class="fa-li"></span>JARRA DE VINO DE MOSCATO. $300</li>                          
                <li class="text-center"><span class="fa-li"></span>JARRA DE VINO DE 1/2 LITR  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>JARRA MOSCATO . . . . . . $240</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOPP QUILME.O LATA IM .  $190</li>                          
                <li class="text-center"><span class="fa-li"></span>IMPERIAL LT . . . . . . . $320</li>                          
                <li class="text-center"><span class="fa-li"></span>STELLA O HEINKEN . . . .  $390</li>                          
                <li class="text-center"><span class="fa-li"></span>VASCO VIEJO 3/4 . . . . . $360</li>                          
                <li class="text-center"><span class="fa-li"></span>LOPEZ .3/4 TINTO . . . .  $490</li>                          
                <li class="text-center"><span class="fa-li"></span>RINCON FAMOSO TINTO 3/4 . $580</li>                          
                <li class="text-center"><span class="fa-li"></span>VASCO VIEJO 1/2 . . . . . $230</li>                          
                <li class="text-center"><span class="fa-li"></span>1/2 LOPEZ . . . . . . . . $340</li>                          
                <li class="text-center"><span class="fa-li"></span>1/2 RINCON FAMOSO . . . . $200</li>                          
                <li class="text-center"><span class="fa-li"></span>ADICIONAL CORTE D GIN C/U  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>SIDRA . . . . . . . . . . $570</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">LICORES             </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>GANCIA O CINZANO . . . .  $170</li>                          
                <li class="text-center"><span class="fa-li"></span>CAMPARI O FERNET . . . .  $190</li>                          
                <li class="text-center"><span class="fa-li"></span>BATIDO DE GANCIA . . . .  $190</li>                          
                <li class="text-center"><span class="fa-li"></span>CORTE GIN . . . . . . . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>RESERVA SAN JUAN . . . .  $190</li>                          
                <li class="text-center"><span class="fa-li"></span>TIA MARIA . . . . . . . . $190</li>                          
                <li class="text-center"><span class="fa-li"></span>VODKA/GIN . . . . . . . . $190</li>                          
                <li class="text-center"><span class="fa-li"></span>RHUM NEGRITA . . . . . .  $200</li>                          
                <li class="text-center"><span class="fa-li"></span>RHUM BACARDI HAVANA CLOD  $280</li>                          
                <li class="text-center"><span class="fa-li"></span>COINTREAU . . . . . . . . $300</li>                          
                <li class="text-center"><span class="fa-li"></span>BAILY´S . . . . . . . . . $350</li>                          
                <li class="text-center"><span class="fa-li"></span>ABSOLUT .VODKA . . . . .  $260</li>                          
                <li class="text-center"><span class="fa-li"></span>GIN TONIC . . . . . . . . $350</li>                          
                <li class="text-center"><span class="fa-li"></span>CUBA LIBRE . . . . . . .  $350</li>                          
                <li class="text-center"><span class="fa-li"></span>WHISCOLA . . . . . . . .  $350</li>                          
                <li class="text-center"><span class="fa-li"></span>FERNET COLA . . . . . . . $350</li>                          
                <li class="text-center"><span class="fa-li"></span>WHISKY NACIONAL . . . . . $200</li>                          
                <li class="text-center"><span class="fa-li"></span>IMPORTADOS J&B . . . . .  $410</li>                          
                <li class="text-center"><span class="fa-li"></span>CHIVAS REGAL . . . . . .  $650</li>                          
                <li class="text-center"><span class="fa-li"></span>CRIADORES O OLD SMIGGLER  $200</li>                          
                <li class="text-center"><span class="fa-li"></span>CHANDOM (EXTRA BRUT) . . $1400</li>                          
                <li class="text-center"><span class="fa-li"></span>NACIONAL . . . . . . . . $1200</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/torre/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
