      <div class="container">                                                                                                   
        <div class="col-lg-4">                                                                                                  
          <div class="card mb-5 mb-lg-0">                                                                                       
              <h5 class="card-title text-info text-uppercase text-center">EMPANADAS           </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>EMPANADAS VARIAS . . . .   $70</li>                          
                <li class="text-center"><span class="fa-li"></span>FAINA . . . . . . . . . .  $45</li>                          
              </ul>                                                                                                             
            </div>                                                                                                              
          </div>                                                                                                                
        </div>                                                                                                                  
