      <div class="container">                                                                                                   
        <div class="col-lg-4">                                                                                                  
          <div class="card mb-5 mb-lg-0">                                                                                       
              <h5 class="card-title text-info text-uppercase text-center">GASEOSAS/CERVEZAS/FR</h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SEVEN .2. 25 . . . . . .  $210</li>                          
                <li class="text-center"><span class="fa-li"></span>PEPSI .DIET 2 .25 . . . . $210</li>                          
                <li class="text-center"><span class="fa-li"></span>GASEOSA O AGUA MINERAL .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>PEPSI 500 ML . . . . . .   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>PATAGONIA 740 ML . . . .  $370</li>                          
                <li class="text-center"><span class="fa-li"></span>SEVEN 500 . . . . . . . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>BUDWEISER DE LITRO . . .  $290</li>                          
                <li class="text-center"><span class="fa-li"></span>AGUA .SABORIZADA . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>AGUA C/GAS CH . . . . . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>AGUA C/GAS GR . . . . . . $150</li>                          
                <li class="text-center"><span class="fa-li"></span>PATAGONIA 740 ML . . . .  $370</li>                          
                <li class="text-center"><span class="fa-li"></span>PEPSI .2.25 . . . . . . . $210</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOPP PAT PORTER . . . .  $175</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOPP Q CRISTAL . . . . . $135</li>                          
                <li class="text-center"><span class="fa-li"></span>QUILMES STOUT . . . . . . $290</li>                          
                <li class="text-center"><span class="fa-li"></span>CORONA 355 ML . . . . . . $185</li>                          
                <li class="text-center"><span class="fa-li"></span>STELLA ARTOIS . . . . . . $310</li>                          
                <li class="text-center"><span class="fa-li"></span>JUGOS NATURALES . . . . . $150</li>                          
              </ul>                                                                                                             
            </div>                                                                                                              
          </div>                                                                                                                
        </div>                                                                                                                  
