      <div class="container">                                                                                                   
        <div class="col-lg-4">                                                                                                  
          <div class="card mb-5 mb-lg-0">                                                                                       
              <h5 class="card-title text-info text-uppercase text-center">CAFETERIA           </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CAFE . . . . . . . . . .   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE CON CREMA . . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE DOBLE . . . . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE DOBLE CON CREMA . .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE CON LECHE . . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/LECHE C/3 MEDIALUN $170</li>                          
                <li class="text-center"><span class="fa-li"></span>CAPUCHINO . . . . . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>CAPUCHINO A LA ITALIANA . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>SUBMARINO . . . . . . . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>LECHE CHOCOLATADA . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>LECHE FRIA/CALIENTE . . .  $80</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE AMERICANO . . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>TE DE HIERBAS . . . . . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>TE DE HIERBAS C/LECHE . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>TE DIGESTIVO . . . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>YOGUR . . . . . . . . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE URUGUAYO . . . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>TE DE HIERBAS C/3 MEDIALU $180</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE ITALIANA . . . . . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE URU MUFFINS . . . .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE INVITACION . . . . . $454</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPER MERIENDA 1 TX . . . $830</li>                          
              </ul>                                                                                                             
            </div>                                                                                                              
          </div>                                                                                                                
        </div>                                                                                                                  
