      <div class="container">                                                                                                   
        <div class="col-lg-4">                                                                                                  
          <div class="card mb-5 mb-lg-0">                                                                                       
              <h5 class="card-title text-info text-uppercase text-center">CARNE TERNERA       </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>BIFE DE CHORIZO C/GUARNIC $630</li>                          
                <li class="text-center"><span class="fa-li"></span>BIFE DE LOMO C/ GUARNI .  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>ALBONGIGAS .PORTUGUESA .  $290</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA DE TERNERA C/ GU $365</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA NAPOLITANA C/ GU $485</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDALLON LOMO SABORIZADO  $870</li>                          
                <li class="text-center"><span class="fa-li"></span>MINI BIFE C/ GUARNI . . . $540</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA DE POLLO C/ GUARN $340</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA BACON GR . . . $1465</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA BACON CH . . .  $940</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA BACON IND . . . $495</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA FIORENT GR . . $1410</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA FIORENT CH . .  $925</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA FUGA IND . . .  $420</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA FUGA CH. . . .  $795</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA NAPO IND. . . . $440</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA NAPO CH . . . . $840</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA NAPO. GR . . . $1280</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA FUGAZZETA GR . $1290</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA MUZZA IND . . . $415</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA FIORENT IND . . $475</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA MUZZARELLA GR .$1250</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA MUZZA CH . . .  $765</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA PRIMAVERA GR . $1465</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA PRIMAV CH . . . $940</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA PRIMAV IND . .  $495</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA CALABRESA IND . $475</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA CALABRESA CH .  $925</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA CALABRESA GR . $1410</li>                          
                <li class="text-center"><span class="fa-li"></span>TAPA RELLENA . . . . . .  $310</li>                          
              </ul>                                                                                                             
            </div>                                                                                                              
          </div>                                                                                                                
        </div>                                                                                                                  
