      <div class="container">                                                                                                   
        <div class="col-lg-4">                                                                                                  
          <div class="card mb-5 mb-lg-0">                                                                                       
              <h5 class="card-title text-info text-uppercase text-center">PARA ACOMPAÑAR      </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PURE DE PAPA .PORCION . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>ARROZ C/ CALAMARES . . .  $360</li>                          
                <li class="text-center"><span class="fa-li"></span>PAPAS FRITAS PORCION . .  $170</li>                          
                <li class="text-center"><span class="fa-li"></span>PAPAS REJILL/NOIS/PAI POR $160</li>                          
                <li class="text-center"><span class="fa-li"></span>PAPAS FRITAS .GUARNICION  $130</li>                          
                <li class="text-center"><span class="fa-li"></span>HUEVOS FRITOS O DURO POR.  $80</li>                          
                <li class="text-center"><span class="fa-li"></span>PURE CALABAZA O MIXTO POR $180</li>                          
                <li class="text-center"><span class="fa-li"></span>REC PROVENZAL . . . . . .  $60</li>                          
                <li class="text-center"><span class="fa-li"></span>PAPAS REJ/NOIS/PAI .GUARN $140</li>                          
                <li class="text-center"><span class="fa-li"></span>PURE DE PAPA GUARNICION.  $130</li>                          
                <li class="text-center"><span class="fa-li"></span>PURE CALABAZA O MIXTO GUA $140</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDALLON DE ESPINACA . .  $275</li>                          
              </ul>                                                                                                             
            </div>                                                                                                              
          </div>                                                                                                                
        </div>                                                                                                                  
