      <div class="container">                                                                                                   
        <div class="col-lg-4">                                                                                                  
          <div class="card mb-5 mb-lg-0">                                                                                       
              <h5 class="card-title text-info text-uppercase text-center">APERITIVOS          </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>FERNET COLA . . . . . . . $210</li>                          
                <li class="text-center"><span class="fa-li"></span>APERITIVOS VARIOS . . . . $135</li>                          
                <li class="text-center"><span class="fa-li"></span>COMBO COPETIN+ 2 QUILMES $1150</li>                          
                <li class="text-center"><span class="fa-li"></span>APERITIVO COMBINADO . . . $145</li>                          
                <li class="text-center"><span class="fa-li"></span>AMERICANO GANCIA . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>CINZANO . . . . . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>CYNAR . . . . . . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>MARTINI . . . . . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>CAMPARI . . . . . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>FERNET BOTELLA . . . . .  $780</li>                          
                <li class="text-center"><span class="fa-li"></span>GIN TONIC . . . . . . . . $210</li>                          
                <li class="text-center"><span class="fa-li"></span>GIN COLA . . . . . . . .  $210</li>                          
                <li class="text-center"><span class="fa-li"></span>VODKA TONIC . . . . . . . $210</li>                          
                <li class="text-center"><span class="fa-li"></span>VODKA COLA . . . . . . .  $210</li>                          
                <li class="text-center"><span class="fa-li"></span>CUBA LIBRE . . . . . . .  $210</li>                          
                <li class="text-center"><span class="fa-li"></span>WHISCOLA . . . . . . . .  $210</li>                          
                <li class="text-center"><span class="fa-li"></span>REC POR CORTE . . . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>BATIDOS . . . . . . . . . $210</li>                          
              </ul>                                                                                                             
            </div>                                                                                                              
          </div>                                                                                                                
        </div>                                                                                                                  
