      <div class="container">                                                                                                   
        <div class="col-lg-4">                                                                                                  
          <div class="card mb-5 mb-lg-0">                                                                                       
              <h5 class="card-title text-info text-uppercase text-center">CAFETERIA ESPECIAL  </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CAFE ITA ALF . . . . . .  $200</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE .DEL DIA . . . . . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>LIMONADA CON TRIPLE . . . $190</li>                          
                <li class="text-center"><span class="fa-li"></span>VASO DE LIMONADA . . . .   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>JARRA DE LIMONADA . . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>ICED COFFEE 1 TX . . . .  $340</li>                          
                <li class="text-center"><span class="fa-li"></span>MUFFINS . . . . . . . . .  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>BUDIN ESPECIAL DULCE . .  $170</li>                          
              </ul>                                                                                                             
            </div>                                                                                                              
          </div>                                                                                                                
        </div>                                                                                                                  
