      <div class="container">                                                                                                   
        <div class="col-lg-4">                                                                                                  
          <div class="card mb-5 mb-lg-0">                                                                                       
              <h5 class="card-title text-info text-uppercase text-center">AGREGADOS SANDWICH  </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>RECGO LECH TOM PEPINO . .  $50</li>                          
                <li class="text-center"><span class="fa-li"></span>RECGO COCID QUESO HUEVO .  $50</li>                          
                <li class="text-center"><span class="fa-li"></span>RECGO ANAN MORR ESPERRAGO  $60</li>                          
                <li class="text-center"><span class="fa-li"></span>RERGO PAV ATU PALM CRUDO  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>AGR./JAM. CRUD/PALMITOS .  $95</li>                          
                <li class="text-center"><span class="fa-li"></span>AGR.ATUN/PALMITOS . . . .  $90</li>                          
              </ul>                                                                                                             
            </div>                                                                                                              
          </div>                                                                                                                
        </div>                                                                                                                  
