      <div class="container">                                                                                                   
        <div class="col-lg-4">                                                                                                  
          <div class="card mb-5 mb-lg-0">                                                                                       
              <h5 class="card-title text-info text-uppercase text-center">PIZZAS              </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PIZZA LIBRE . . . . . . . $240</li>                          
                <li class="text-center"><span class="fa-li"></span>MOZZARELLA GR. . . . . .  $460</li>                          
                <li class="text-center"><span class="fa-li"></span>MARGARITA GR. . . . . . . $480</li>                          
                <li class="text-center"><span class="fa-li"></span>ANCHOAS GR. . . . . . . . $440</li>                          
                <li class="text-center"><span class="fa-li"></span>ROMANA GR. . . . . . . .  $560</li>                          
                <li class="text-center"><span class="fa-li"></span>FUGAZZA C/ JAMON GR. . .  $560</li>                          
                <li class="text-center"><span class="fa-li"></span>FUGAZZA CON QUESO GR. . . $530</li>                          
                <li class="text-center"><span class="fa-li"></span>NAPOLITANA GR. . . . . .  $530</li>                          
                <li class="text-center"><span class="fa-li"></span>NAPOLITANA ESPECIAL GR. . $560</li>                          
                <li class="text-center"><span class="fa-li"></span>DE JAMON .GR. . . . . . . $540</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO MUZZA GR . . . . .  $580</li>                          
                <li class="text-center"><span class="fa-li"></span>MOZZARELLA CH. . . . . .  $350</li>                          
                <li class="text-center"><span class="fa-li"></span>MARGARITA CH. . . . . . . $360</li>                          
                <li class="text-center"><span class="fa-li"></span>ANCHOAS CH. . . . . . . . $330</li>                          
                <li class="text-center"><span class="fa-li"></span>ROMANA CH. . . . . . . .  $430</li>                          
                <li class="text-center"><span class="fa-li"></span>FUGAZZA C/ JAMON CH. . .  $430</li>                          
                <li class="text-center"><span class="fa-li"></span>FUGAZZA CON QUESO CH. . . $410</li>                          
                <li class="text-center"><span class="fa-li"></span>NAPOLITANA CH. . . . . .  $410</li>                          
                <li class="text-center"><span class="fa-li"></span>NAPOLITANA ESPECIAL CH. . $430</li>                          
                <li class="text-center"><span class="fa-li"></span>DE JAMON .CH. . . . . . . $410</li>                          
                <li class="text-center"><span class="fa-li"></span>18 EMP + GASEOSA . . . .  $990</li>                          
                <li class="text-center"><span class="fa-li"></span>MOZZARELLA IND. . . . . . $145</li>                          
                <li class="text-center"><span class="fa-li"></span>MARGARITA IND. . . . . .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>ANCHOAS IND. . . . . . .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>ROMANA IND. . . . . . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>FUGAZZA C/ JAMON IND. . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>FUGAZZA CON QUESO IND. .  $165</li>                          
                <li class="text-center"><span class="fa-li"></span>NAPOLITANA IND. . . . . . $165</li>                          
                <li class="text-center"><span class="fa-li"></span>NAPOLITANA ESPECIAL IND.  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>DE JAMON .IND. . . . . .  $170</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON CON MORRONES GR. .  $630</li>                          
                <li class="text-center"><span class="fa-li"></span>ROQUEFORT GR. . . . . . . $680</li>                          
                <li class="text-center"><span class="fa-li"></span>PROVOLONE GR. . . . . . . $730</li>                          
                <li class="text-center"><span class="fa-li"></span>PALMITOS GR. . . . . . .  $785</li>                          
                <li class="text-center"><span class="fa-li"></span>CALABRESA GR. . . . . . . $680</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPINACAS GR. . . . . . . $460</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPECIAL DE 4 QUESOS GR.  $785</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMAICA GR. . . . . . . . $630</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON CON MORRONES CH. .  $475</li>                          
                <li class="text-center"><span class="fa-li"></span>ROQUEFORT CH. . . . . . . $525</li>                          
                <li class="text-center"><span class="fa-li"></span>PROVOLONE CH. . . . . . . $560</li>                          
                <li class="text-center"><span class="fa-li"></span>PALMITOS CH. . . . . . .  $590</li>                          
                <li class="text-center"><span class="fa-li"></span>CALABRESA CH. . . . . . . $525</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPINACAS CH. . . . . . . $350</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPECIAL DE 4 QUESOS CH.  $590</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMAICA CH. . . . . . . . $475</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON CON MORRONES IND. . $190</li>                          
                <li class="text-center"><span class="fa-li"></span>ROQUEFORT IND. . . . . .  $215</li>                          
                <li class="text-center"><span class="fa-li"></span>PROVOLONE IND. . . . . .  $225</li>                          
                <li class="text-center"><span class="fa-li"></span>PALMITOS IND. . . . . . . $240</li>                          
                <li class="text-center"><span class="fa-li"></span>CALABRESA IND. . . . . .  $215</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPINACAS IND. . . . . .  $145</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPECIAL DE 4 QUESOS .IND $240</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMAICA IND. . . . . . .  $190</li>                          
                <li class="text-center"><span class="fa-li"></span>CALZONE TRADICIONAL GR. . $610</li>                          
                <li class="text-center"><span class="fa-li"></span>CALZONE TRADICIONAL CH. . $460</li>                          
                <li class="text-center"><span class="fa-li"></span>CALZONE LIGHT GR . . . .  $670</li>                          
                <li class="text-center"><span class="fa-li"></span>CALZONE LIGHT CH . . . .  $510</li>                          
                <li class="text-center"><span class="fa-li"></span>24 EMP + GASEOSA . . . . $1230</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 3 PIZZA+GASEOSA . .$1510</li>                          
                <li class="text-center"><span class="fa-li"></span>FUGAZZETTA RELL GR . . .  $560</li>                          
                <li class="text-center"><span class="fa-li"></span>FUGAZZETTA RELL CH . . .  $420</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPECIAL RELL GR . . . .  $610</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPECIAL RELL CH . . . .  $460</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPER ESP. RELL CH . . .  $485</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPER ESP. RELL GR . . .  $645</li>                          
                <li class="text-center"><span class="fa-li"></span>PAN DE PIZZA CH. . . . .  $160</li>                          
                <li class="text-center"><span class="fa-li"></span>PAN DE PIZZA GR. . . . .  $230</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 2 PORCIONES . . . . $230</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION DE MUZZA . . . .   $60</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION DE FUGAZETTA . .   $70</li>                          
                <li class="text-center"><span class="fa-li"></span>DOC DE EMP + GASEOSA . .  $725</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 2 DOC EMPANADA . . $1310</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 3 DOC EMPANADA . . $1900</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 2 PIZZA + GASEOSA .$1510</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 1 PIZZA . . . . . .$1350</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 1 PIZZA+ GASEOSA . $1480</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 2MONDONGOS +P.PERED $670</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 2 + GASEOSA . . . .$1390</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 2 ALBONDIG + P.PERD $670</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 4 //1 DOC . . . . . $585</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 4 / 1 DOC + GASEOSA $840</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 4// 18 EMP . . . .  $850</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 4// 18EMP + GASEOSA$1180</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 4//24 EMP . . . . .$1090</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 4// 24 + GASEOSA . $1440</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 4// 30 EMP + GASEOS$1720</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 2 PIZZA . . . . . .$1380</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 1 PIZZERIA + GASEOS$1340</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 3PIZZERIA . . . . .$1250</li>                          
                <li class="text-center"><span class="fa-li"></span>MUZARELLA GDE PROMO . . . $620</li>                          
              </ul>                                                                                                             
            </div>                                                                                                              
          </div>                                                                                                                
        </div>                                                                                                                  
