      <div class="container">                                                                                                   
        <div class="col-lg-4">                                                                                                  
          <div class="card mb-5 mb-lg-0">                                                                                       
              <h5 class="card-title text-info text-uppercase text-center">NOVEDADES DEL CHEFF </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>ENSALADA CAPRESSE . . . . $365</li>                          
                <li class="text-center"><span class="fa-li"></span>LASAGNA RELLENA . . . . . $270</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO LOCRO . . . . . . . $910</li>                          
                <li class="text-center"><span class="fa-li"></span>PROM0 .1 LENTEJA .+ PEP 6 $320</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOW MEIN . . . . . . . . $280</li>                          
                <li class="text-center"><span class="fa-li"></span>LOCRO . . . . . . . . . . $390</li>                          
                <li class="text-center"><span class="fa-li"></span>LENGUA A LA PORTUGUESA .  $170</li>                          
                <li class="text-center"><span class="fa-li"></span>PATY C/Q GASEO Y BOCHA .  $350</li>                          
                <li class="text-center"><span class="fa-li"></span>PATITAS/BEBIDA/BOCHA . .  $390</li>                          
                <li class="text-center"><span class="fa-li"></span>MATAMBRITO VERDEO . . . . $720</li>                          
              </ul>                                                                                                             
            </div>                                                                                                              
          </div>                                                                                                                
        </div>                                                                                                                  
