      <div class="container">                                                                                                   
        <div class="col-lg-4">                                                                                                  
          <div class="card mb-5 mb-lg-0">                                                                                       
              <h5 class="card-title text-info text-uppercase text-center">COPAS HELADAS       </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>COPA POMPEII . . . . . .  $580</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA BANANA SPLIT . . . . $580</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA MELBA . . . . . . .  $580</li>                          
              </ul>                                                                                                             
            </div>                                                                                                              
          </div>                                                                                                                
        </div>                                                                                                                  
