      <div class="container">                                                                                                   
        <div class="col-lg-4">                                                                                                  
          <div class="card mb-5 mb-lg-0">                                                                                       
              <h5 class="card-title text-info text-uppercase text-center">SANDWICHES          </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>LENTEJAS + AGUAFRUT 500CC $300</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND DE MILA SOLA . . . . $230</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND MILA CLASICO . . . . $310</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND MILA COMPLETO . . .  $360</li>                          
                <li class="text-center"><span class="fa-li"></span>HAMBURGUESA SOLO . . . .  $210</li>                          
                <li class="text-center"><span class="fa-li"></span>HAMBURGUESA CLASICO . . . $290</li>                          
                <li class="text-center"><span class="fa-li"></span>PANCHO . . . . . . . . .  $160</li>                          
                <li class="text-center"><span class="fa-li"></span>HAMBURGUESA COMPLETO . .  $340</li>                          
                <li class="text-center"><span class="fa-li"></span>1/2 POLLO GRILLE F Y EMIX $510</li>                          
                <li class="text-center"><span class="fa-li"></span>RISOTTO DE POLLO .PRMO VI $650</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMITO SOLO . . . . . . . $320</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMITO CLASICO . . . . .  $400</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMITO COMPLETO . . . . . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO PASTA . . . . . . . $120</li>                          
              </ul>                                                                                                             
            </div>                                                                                                              
          </div>                                                                                                                
        </div>                                                                                                                  
