      <div class="container">                                                                                                   
        <div class="col-lg-4">                                                                                                  
          <div class="card mb-5 mb-lg-0">                                                                                       
              <h5 class="card-title text-info text-uppercase text-center">PARA DISFRUTAR      </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CHOPP + 2 PORC . . . . .  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>PASTA FROLA . . . . . . . $430</li>                          
                <li class="text-center"><span class="fa-li"></span>TARTA DE RICOTA . . . . . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>TARTA DE COCO . . . . . . $510</li>                          
                <li class="text-center"><span class="fa-li"></span>TARTA DE MANZANA . . . .  $480</li>                          
                <li class="text-center"><span class="fa-li"></span>TARTA FRUTILLA . . . . .  $620</li>                          
                <li class="text-center"><span class="fa-li"></span>LEMON PIE . . . . . . . . $620</li>                          
                <li class="text-center"><span class="fa-li"></span>MOUSSE VARIOS . . . . . . $530</li>                          
                <li class="text-center"><span class="fa-li"></span>SACHER . . . . . . . . .  $950</li>                          
                <li class="text-center"><span class="fa-li"></span>SCONES O POLVORONES . . .  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>PALMERITAS .KG . . . . .  $385</li>                          
                <li class="text-center"><span class="fa-li"></span>MINI MANZANA . . . . . .  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>MERENGUES . . . . . . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>TART PORC.FROLA . . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>MINI SELVA NEGRA . . . .  $240</li>                          
                <li class="text-center"><span class="fa-li"></span>BROWNIE . . . . . . . . . $360</li>                          
                <li class="text-center"><span class="fa-li"></span>SELVA NEGRA . . . . . . . $950</li>                          
                <li class="text-center"><span class="fa-li"></span>BISCOCHITOS SALADOS 1/4KG  $95</li>                          
                <li class="text-center"><span class="fa-li"></span>CUER/ BIZCO SALADOS KG .  $380</li>                          
                <li class="text-center"><span class="fa-li"></span>BIZC/ CUERNITOS X 1/2 KG  $190</li>                          
                <li class="text-center"><span class="fa-li"></span>BIZC/ CUERNITOS X 1/4 KG   $95</li>                          
                <li class="text-center"><span class="fa-li"></span>SABORIZADOS POR KILO . .  $300</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO LICUADO . . . . . . $360</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO CAPUCHINO . . . . . $330</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO AFTER OFFICE GIN TO $240</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO GANCIA CINZANO . .  $240</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO BALON . . . . . . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO APERITIVOS . . . .  $240</li>                          
              </ul>                                                                                                             
            </div>                                                                                                              
          </div>                                                                                                                
        </div>                                                                                                                  
