      <div class="container">                                                                                                   
        <div class="col-lg-4">                                                                                                  
          <div class="card mb-5 mb-lg-0">                                                                                       
              <h5 class="card-title text-info text-uppercase text-center">LICORES/JEREZ/COGNAC</h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>COGNAC NACIONAL . . . . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>30 EMP + GASEOSA . . . . $1460</li>                          
                <li class="text-center"><span class="fa-li"></span>LICOR/JEREZ NACIONAL . .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>RAICES . . . . . . . . .  $295</li>                          
                <li class="text-center"><span class="fa-li"></span>TAPABOCA . . . . . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>PACHECO PEREDA VINO . . . $190</li>                          
                <li class="text-center"><span class="fa-li"></span>GANCIA BOTELLA . . . . .  $390</li>                          
                <li class="text-center"><span class="fa-li"></span>CINZANO BOTELLA . . . . . $280</li>                          
              </ul>                                                                                                             
            </div>                                                                                                              
          </div>                                                                                                                
        </div>                                                                                                                  
