      <div class="container">                                                                                                   
        <div class="col-lg-4">                                                                                                  
          <div class="card mb-5 mb-lg-0">                                                                                       
              <h5 class="card-title text-info text-uppercase text-center">COCKTAILS VARIOS    </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>ALMA MORA CHAMP . . . . . $490</li>                          
                <li class="text-center"><span class="fa-li"></span>CAMPARI BOTELLA . . . . . $640</li>                          
                <li class="text-center"><span class="fa-li"></span>RINONCITO SUG . . . . . . $230</li>                          
                <li class="text-center"><span class="fa-li"></span>BONDIOLA SUG . . . . . .  $340</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 3 PIZZERIA . . . . $1380</li>                          
                <li class="text-center"><span class="fa-li"></span>TRAGOS VARIOS . . . . . . $220</li>                          
                <li class="text-center"><span class="fa-li"></span>LAS MORAS BARRA . . . . . $190</li>                          
                <li class="text-center"><span class="fa-li"></span>ELEMENTOS BARRA . . . . . $220</li>                          
              </ul>                                                                                                             
            </div>                                                                                                              
          </div>                                                                                                                
        </div>                                                                                                                  
