      <div class="container">                                                                                                   
        <div class="col-lg-4">                                                                                                  
          <div class="card mb-5 mb-lg-0">                                                                                       
              <h5 class="card-title text-info text-uppercase text-center">WHISKIES            </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>BLENDERS . . . . . . . .  $230</li>                          
                <li class="text-center"><span class="fa-li"></span>PREMIUN . . . . . . . . . $230</li>                          
                <li class="text-center"><span class="fa-li"></span>OLD SMUGGLER . . . . . .  $195</li>                          
                <li class="text-center"><span class="fa-li"></span>CRIADORES . . . . . . . . $195</li>                          
                <li class="text-center"><span class="fa-li"></span>J&B . . . . . . . . . . . $265</li>                          
                <li class="text-center"><span class="fa-li"></span>CHIVAS REGAL . . . . . .  $350</li>                          
                <li class="text-center"><span class="fa-li"></span>JHONNIE WALKER ET. NEGRA  $370</li>                          
                <li class="text-center"><span class="fa-li"></span>WHITE HORSE . . . . . . . $265</li>                          
                <li class="text-center"><span class="fa-li"></span>BALLANTINES . . . . . . . $265</li>                          
                <li class="text-center"><span class="fa-li"></span>JHONNIE WALKER ET. ROJA . $370</li>                          
              </ul>                                                                                                             
            </div>                                                                                                              
          </div>                                                                                                                
        </div>                                                                                                                  
