      <div class="container">                                                                                                   
        <div class="col-lg-4">                                                                                                  
          <div class="card mb-5 mb-lg-0">                                                                                       
              <h5 class="card-title text-info text-uppercase text-center">TRAVIATAS / CROISANT</h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>LUNA C/J.COC O QUESO . .   $85</li>                          
                <li class="text-center"><span class="fa-li"></span>(2 LUN JQ) . . . . . . .  $185</li>                          
                <li class="text-center"><span class="fa-li"></span>DOS LUNAS J.CRUDO . . . . $220</li>                          
                <li class="text-center"><span class="fa-li"></span>DOS LUNAS CRUDO Y QUESO . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>1 LUNA JQ TOST . . . . .   $90</li>                          
              </ul>                                                                                                             
            </div>                                                                                                              
          </div>                                                                                                                
        </div>                                                                                                                  
