      <div class="container">                                                                                                   
        <div class="col-lg-4">                                                                                                  
          <div class="card mb-5 mb-lg-0">                                                                                       
              <h5 class="card-title text-info text-uppercase text-center">NOVEDADES EN PROMO  </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>LATA ANANA . . . . . . .  $245</li>                          
                <li class="text-center"><span class="fa-li"></span>HAMBURGUESA LUIS . . . .  $480</li>                          
                <li class="text-center"><span class="fa-li"></span>PATITAS C/ GUARNICION . . $270</li>                          
                <li class="text-center"><span class="fa-li"></span>CUATRO ESTACIONES IND. .  $215</li>                          
                <li class="text-center"><span class="fa-li"></span>CUATRO ESTACIONES CH. . . $525</li>                          
                <li class="text-center"><span class="fa-li"></span>CUATRO ESTACIONES GR. . . $680</li>                          
                <li class="text-center"><span class="fa-li"></span>RUCOLINA C/ CRUDO IND . . $270</li>                          
                <li class="text-center"><span class="fa-li"></span>RUCOLINA C/ CRUDO CH . .  $490</li>                          
                <li class="text-center"><span class="fa-li"></span>RUCOLINA C/ CRUD GR. . .  $770</li>                          
              </ul>                                                                                                             
            </div>                                                                                                              
          </div>                                                                                                                
        </div>                                                                                                                  
