      <div class="container">                                                                                                   
        <div class="col-lg-4">                                                                                                  
          <div class="card mb-5 mb-lg-0">                                                                                       
              <h5 class="card-title text-info text-uppercase text-center">TABLAS VARIADAS     </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>TABLA MIXTA . . . . . . .$2200</li>                          
                <li class="text-center"><span class="fa-li"></span>TABLA DE QUESOS . . . . .$1950</li>                          
                <li class="text-center"><span class="fa-li"></span>1/2 PICADA POMPEII . . .  $825</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPER PICADA POMPEII . . $1270</li>                          
                <li class="text-center"><span class="fa-li"></span>PASTEL DE PAPAS . . . . . $290</li>                          
                <li class="text-center"><span class="fa-li"></span>TRIOLET ESPECIAL . . . .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>TRIOLET COMUN . . . . . .  $80</li>                          
              </ul>                                                                                                             
            </div>                                                                                                              
          </div>                                                                                                                
        </div>                                                                                                                  
