      <div class="container">                                                                                                   
        <div class="col-lg-4">                                                                                                  
          <div class="card mb-5 mb-lg-0">                                                                                       
              <h5 class="card-title text-info text-uppercase text-center">AVES                </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>POLLO ENT C/ FRIT AL HORN $550</li>                          
                <li class="text-center"><span class="fa-li"></span>1/4 POLLO GRILLE C/ GUARN $340</li>                          
                <li class="text-center"><span class="fa-li"></span>1/4 POLLO SABORIZADO . .  $560</li>                          
                <li class="text-center"><span class="fa-li"></span>RISOTTO DE VEGETALES . .  $420</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA NAPOLITANA C/ GUA $460</li>                          
                <li class="text-center"><span class="fa-li"></span>FILET DE MERLUZA LIGHT .  $430</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA SABORIZADA . . .  $610</li>                          
              </ul>                                                                                                             
            </div>                                                                                                              
          </div>                                                                                                                
        </div>                                                                                                                  
