      <div class="container">                                                                                                   
        <div class="col-lg-4">                                                                                                  
          <div class="card mb-5 mb-lg-0">                                                                                       
              <h5 class="card-title text-info text-uppercase text-center">ENTRADAS            </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PROMO 1 DOC EMPANADA . .  $710</li>                          
                <li class="text-center"><span class="fa-li"></span>PRO MUZZA 6 EMPANADA . .  $860</li>                          
                <li class="text-center"><span class="fa-li"></span>PRO MUZZA FUGAZZETA . . .$1200</li>                          
                <li class="text-center"><span class="fa-li"></span>PRO MUZZA NAPOLITANA . . $1520</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO TENTACION . . . . . $950</li>                          
                <li class="text-center"><span class="fa-li"></span>MATAMBRE C/RUSA . . . . . $370</li>                          
                <li class="text-center"><span class="fa-li"></span>2 LENTEJ + VINO PACHECO P $650</li>                          
                <li class="text-center"><span class="fa-li"></span>30 EMPANADAS . . . . . . $1320</li>                          
                <li class="text-center"><span class="fa-li"></span>RABAS . . . . . . . . . . $560</li>                          
                <li class="text-center"><span class="fa-li"></span>PINCHO DE MUZARRELLA . .  $410</li>                          
              </ul>                                                                                                             
            </div>                                                                                                              
          </div>                                                                                                                
        </div>                                                                                                                  
