    <section class="pricing py-5">                                                                                              
      <div class="container bg-warning">                                                                                        
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">SANDWICHES          </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SAND. QUESO SOLO . . . .  $270</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND. JAMON COCIDO . . .  $270</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND. JAMON COCIDO Y QUES $290</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND. JAMON CRUDO . . . . $310</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND. JAMON CRUDO Y QUESO $350</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND. SOLO POLLO . . . .  $500</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND. CLASICO POLLO . . . $600</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND. CLASICO LOMO . . .  $730</li>                          
                <li class="text-center"><span class="fa-li"></span>SAN. MILANESA . . . . . . $480</li>                          
                <li class="text-center"><span class="fa-li"></span>TOSTADO MIXTO . . . . . . $310</li>                          
                <li class="text-center"><span class="fa-li"></span>ARABE LOMO SOLO . . . . . $630</li>                          
                <li class="text-center"><span class="fa-li"></span>ARABE HAMBURGUESA SOLA .  $430</li>                          
                <li class="text-center"><span class="fa-li"></span>ARABE HAMBURGUESA CLAS .  $530</li>                          
                <li class="text-center"><span class="fa-li"></span>ARABE MILA CLASICO . . .  $580</li>                          
                <li class="text-center"><span class="fa-li"></span>ARABE MILA LIBERTADOR . . $530</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ENTRADAS            </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>J CRUDO CON RUSSA . . . . $330</li>                          
                <li class="text-center"><span class="fa-li"></span>J CRUDO CON ANANA O PALMI $350</li>                          
                <li class="text-center"><span class="fa-li"></span>J. CRUDO C/ PALMITO . . . $400</li>                          
                <li class="text-center"><span class="fa-li"></span>J CRUDU CON RUSA . . . .  $370</li>                          
                <li class="text-center"><span class="fa-li"></span>DADITOS DE MOZZARELLA . . $630</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ENSALADAS ESPECIALES</h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PANACHE DE VERDURAS . . . $630</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS DOS O TRES GUSTOS . . $330</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS 5 GUSTOS . . . . . .  $430</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS GRANDE ESPECIAL . . . $430</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS CHICA ESPECIAL . . .  $330</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">NUESTRA COCINA      </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>MENU BAJAS CALORIAS 2 . . $330</li>                          
                <li class="text-center"><span class="fa-li"></span>MENU BAJAS CALORIAS 3 . . $430</li>                          
                <li class="text-center"><span class="fa-li"></span>MENU BAJAS CALORIAS 4 . . $430</li>                          
                <li class="text-center"><span class="fa-li"></span>MENU.PRIMAVERA VERANO . . $360</li>                          
                <li class="text-center"><span class="fa-li"></span>MEN EJECUTIVO.PLA . . . . $480</li>                          
                <li class="text-center"><span class="fa-li"></span>RABAS PORC . . . . . . . $1400</li>                          
                <li class="text-center"><span class="fa-li"></span>HUEVO REVUELTO . . . . .  $550</li>                          
                <li class="text-center"><span class="fa-li"></span>HUEVO FRITO O DURO . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>FESTIVAL DE ÑOQUIS . . .  $400</li>                          
                <li class="text-center"><span class="fa-li"></span>REVUELTO GRAMAJO . . . .  $550</li>                          
                <li class="text-center"><span class="fa-li"></span>OMELETTES ESPECIALES . .  $600</li>                          
                <li class="text-center"><span class="fa-li"></span>OMELETTES QUESO O JAMON . $500</li>                          
                <li class="text-center"><span class="fa-li"></span>OMELETTES JAMON Y QUESO . $550</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTILLAS A LA ESPANOLA . $600</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTILLAS DE VERD O PAPA  $500</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTILLAS DE PAPA Y CEBOL $550</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA DE TERNERA . . . $430</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA DE TERNERA MUZZA . . $470</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA TERNERA NAPOLITANA . $470</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA DE TERNERA COMPLETA  $550</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA DE TERNERA RIOJANA . $880</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA DE POLLO . . . . . . $410</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA DE POLLO . . . .  $460</li>                          
                <li class="text-center"><span class="fa-li"></span>SU.PREMA DE POLLO MUZZA . $510</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA DE POLLO NAPOLITA $510</li>                          
                <li class="text-center"><span class="fa-li"></span>FILET DE MERLUZA . . . .  $450</li>                          
                <li class="text-center"><span class="fa-li"></span>HABURGESA AL PLATO . . .  $400</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA SOJA . . . . . . . . $440</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA SOJA NAPO(2) . . $480</li>                          
                <li class="text-center"><span class="fa-li"></span>MATAMBRE CON RUSA . . . .$1100</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON CRUDO CON RUSA . . $1300</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON CRUDO CON PALMITOS $1300</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON CRUDO CON ANANA . .$1300</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PARRILLA            </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>MINI BIFE DE CHORIZO . .  $680</li>                          
                <li class="text-center"><span class="fa-li"></span>BIFE DE CHORIZO . . . . . $950</li>                          
                <li class="text-center"><span class="fa-li"></span>BIFE DE LOMO . . . . . . $1100</li>                          
                <li class="text-center"><span class="fa-li"></span>1/4 DE POLLO DESHUESADO D $460</li>                          
                <li class="text-center"><span class="fa-li"></span>PARRILLA DE LOMO . . . .  $680</li>                          
                <li class="text-center"><span class="fa-li"></span>ASADO DE TIRA . . . . . . $700</li>                          
                <li class="text-center"><span class="fa-li"></span>ASADO . . . . . . . . . . $500</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ACOMPANAMIENTOS     </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>GUARNI ESPECIAL MIX . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>GUARNI ESPECIAL . . . . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>GUARNICION D PAPAS FRITAS  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC.PURE-FRITAS . . . .  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPINACA A LA CREMA . . . $330</li>                          
                <li class="text-center"><span class="fa-li"></span>PURE CALABAZA CON MUZZA . $330</li>                          
                <li class="text-center"><span class="fa-li"></span>CALABAZA CON QUESO . . .  $175</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMO GRUYERE . . . . . .  $100</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">AVES                </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>1/4 POLLO ESPECIAL . . .  $260</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA LA TORRE . . . . $1000</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA SUIZA . . . . . . $550</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA MARYLAND . . . . $1000</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PASTAS  SALSAS      </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>ESTOFADO DE CARNE O POLLO $300</li>                          
                <li class="text-center"><span class="fa-li"></span>CREPPES .DE MUZZA Y JAMON $310</li>                          
                <li class="text-center"><span class="fa-li"></span>PASTAS RELLENAS . . . . . $290</li>                          
                <li class="text-center"><span class="fa-li"></span>PASTAS AL HUEVO . . . . . $270</li>                          
                <li class="text-center"><span class="fa-li"></span>CREPPES CAPRESSE . . . .  $340</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA BOLOGNESA . . . . . $190</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA SCARPARO . . . . .  $190</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA FILETO . . . . . .  $170</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA .CARUSO-PARRICIEN . $210</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA A LA CREMA . . . .  $170</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA MIXTA . . . . . . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA 4 QUESO/ PARICCIENN $210</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA SUE SUE . . . . . . $210</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA .BLANCA . . . . . . $190</li>                          
                <li class="text-center"><span class="fa-li"></span>SAL MANTE O MANTECA Y AJO $190</li>                          
                <li class="text-center"><span class="fa-li"></span>PESTO . . . . . . . . . .  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>ALBAHACA,MANTECA Y AJO .   $50</li>                          
                <li class="text-center"><span class="fa-li"></span>A LA MANTECA . . . . . .  $100</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PIZZA A LA PIEDRA   </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PORCION MUZZA . . . . . .  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION MUZZA CON JAMON .  $80</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION JYM . . . . . . .  $80</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION JAMON Y MORRONES   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION VERDURA . . . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION NAPO . . . . . .   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO PIZZA . . . . . . . $230</li>                          
                <li class="text-center"><span class="fa-li"></span>PROM PIZZA .CON IMPERIAL  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO.GRA.MUZZA+LAT . . . $550</li>                          
                <li class="text-center"><span class="fa-li"></span>FAINA . . . . . . . . . .  $40</li>                          
                <li class="text-center"><span class="fa-li"></span>FUGAZZETA CON QUESO . . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>FUGAZZETA CON JAMON . . . $150</li>                          
                <li class="text-center"><span class="fa-li"></span>PROM PIZZA GR+COCAG+FAINA $650</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA RELLENA C/ J . . . $1100</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA RELLENA . . . . . . $900</li>                          
                <li class="text-center"><span class="fa-li"></span>P. MOZZARELLA GRANDE . .  $500</li>                          
                <li class="text-center"><span class="fa-li"></span>P. MOZZA Y JAMON GR . . . $580</li>                          
                <li class="text-center"><span class="fa-li"></span>P. AJO AL OLEO . . . . .  $210</li>                          
                <li class="text-center"><span class="fa-li"></span>P. AL MORRON GR . . . . . $650</li>                          
                <li class="text-center"><span class="fa-li"></span>P. DE ANCHOAS GR . . . .  $510</li>                          
                <li class="text-center"><span class="fa-li"></span>P. FUGAZZA GR . . . . . . $480</li>                          
                <li class="text-center"><span class="fa-li"></span>P. FUGAZZA CON QUESO GR . $650</li>                          
                <li class="text-center"><span class="fa-li"></span>P. NAPOLITANA GR . . . .  $650</li>                          
                <li class="text-center"><span class="fa-li"></span>P. NAPOLITANA ESP GR . .  $730</li>                          
                <li class="text-center"><span class="fa-li"></span>P. MOZZARELLA CHICA . . . $380</li>                          
                <li class="text-center"><span class="fa-li"></span>P. MUZZA Y JAMON CH . . . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>P. AJO AL OLEO CH . . . . $235</li>                          
                <li class="text-center"><span class="fa-li"></span>P. AL MORRON CH . . . . . $500</li>                          
                <li class="text-center"><span class="fa-li"></span>P. DE ANCHOAS CH . . . .  $400</li>                          
                <li class="text-center"><span class="fa-li"></span>P. FUGAZZA CH . . . . . . $360</li>                          
                <li class="text-center"><span class="fa-li"></span>P. FUGAZZA CON QUESO CH . $500</li>                          
                <li class="text-center"><span class="fa-li"></span>P. NAPOLITANA CH . . . .  $500</li>                          
                <li class="text-center"><span class="fa-li"></span>P. NAPOLITANA ESP CH . .  $570</li>                          
                <li class="text-center"><span class="fa-li"></span>P. CALABRESA GR . . . . . $730</li>                          
                <li class="text-center"><span class="fa-li"></span>P. PROVOLONE GR . . . . . $730</li>                          
                <li class="text-center"><span class="fa-li"></span>P. PALMITOS GR . . . . .  $800</li>                          
                <li class="text-center"><span class="fa-li"></span>P. AL ROQUEFORT GR . . .  $780</li>                          
                <li class="text-center"><span class="fa-li"></span>P. CARIBENA GR . . . . .  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>P. AL CHAMPIGNON GR . . . $750</li>                          
                <li class="text-center"><span class="fa-li"></span>P. VERDE GR . . . . . . . $650</li>                          
                <li class="text-center"><span class="fa-li"></span>GR LA TORRE . . . . . . . $850</li>                          
                <li class="text-center"><span class="fa-li"></span>P. ROMANA GR . . . . . .  $850</li>                          
                <li class="text-center"><span class="fa-li"></span>P. CALABRESA CH . . . . . $570</li>                          
                <li class="text-center"><span class="fa-li"></span>P. PROVOLONE CH . . . . . $570</li>                          
                <li class="text-center"><span class="fa-li"></span>P. PALMITOS CH . . . . .  $680</li>                          
                <li class="text-center"><span class="fa-li"></span>P. AL ROQUEFORT CH . . .  $600</li>                          
                <li class="text-center"><span class="fa-li"></span>CARIBENA CH . . . . . . . $600</li>                          
                <li class="text-center"><span class="fa-li"></span>P. AL CHAMPIGNON CH . . . $600</li>                          
                <li class="text-center"><span class="fa-li"></span>P. VERDE CH . . . . . . . $500</li>                          
                <li class="text-center"><span class="fa-li"></span>CH LA TORRE . . . . . . . $700</li>                          
                <li class="text-center"><span class="fa-li"></span>P. ROMANA CH . . . . . .  $700</li>                          
                <li class="text-center"><span class="fa-li"></span>DI ROMA GR . . . . . . .  $850</li>                          
                <li class="text-center"><span class="fa-li"></span>DI ROMA CH . . . . . . .  $700</li>                          
                <li class="text-center"><span class="fa-li"></span>GR QUATRO FORMAGGI . . .  $850</li>                          
                <li class="text-center"><span class="fa-li"></span>CH QUARTO FORMAGGI . . .  $700</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANO GR . . . . . . . . $800</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANO CH . . . . . . . . $680</li>                          
                <li class="text-center"><span class="fa-li"></span>MARGARITA . . . . . . . . $550</li>                          
                <li class="text-center"><span class="fa-li"></span>MARGARITA CH . . . . . .  $420</li>                          
                <li class="text-center"><span class="fa-li"></span>GR REGINA . . . . . . . . $800</li>                          
                <li class="text-center"><span class="fa-li"></span>LA REGINA CH . . . . . .  $680</li>                          
                <li class="text-center"><span class="fa-li"></span>GR ESMERALDA HISPANA . .  $850</li>                          
                <li class="text-center"><span class="fa-li"></span>CH ESMERALDA HISPANA . .  $700</li>                          
                <li class="text-center"><span class="fa-li"></span>GR ESMERALDA HISPANA . .  $850</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">EMPANADAS Y TARTAS  </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PROM PIZZA CON HEINEKEM . $300</li>                          
                <li class="text-center"><span class="fa-li"></span>DOC DE EMPANADAS . . . .  $900</li>                          
                <li class="text-center"><span class="fa-li"></span>EMPANADA . . . . . . . .   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>TARTA . . . . . . . . . . $280</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIA DOCENA EMPANADAS .  $450</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/torre/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
