      <div class="container">                                                                                                   
        <div class="col-lg-4">                                                                                                  
          <div class="card mb-5 mb-lg-0">                                                                                       
              <h5 class="card-title text-info text-uppercase text-center">LICUADOS            </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>LIC. NATURAL AL AGUA . .  $165</li>                          
                <li class="text-center"><span class="fa-li"></span>LIC.COMB. . CON LECHE . . $195</li>                          
                <li class="text-center"><span class="fa-li"></span>LIC. ESPECIAL . . . . . . $220</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOCOLATE C/ CHURROS . .  $140</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 2 .RISSOTTO+ VIN0 . $650</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 2 LENTEJAS + VINO . $670</li>                          
                <li class="text-center"><span class="fa-li"></span>MILK SHAKE . . . . . . .  $220</li>                          
              </ul>                                                                                                             
            </div>                                                                                                              
          </div>                                                                                                                
        </div>                                                                                                                  
