      <div class="container">                                                                                                   
        <div class="col-lg-4">                                                                                                  
          <div class="card mb-5 mb-lg-0">                                                                                       
              <h5 class="card-title text-info text-uppercase text-center">VINOS               </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>LATITUD 33 DULCE . . . .  $420</li>                          
                <li class="text-center"><span class="fa-li"></span>ANIMAL CHARD 3/4 . . . .  $820</li>                          
                <li class="text-center"><span class="fa-li"></span>SANTA JULIA CHARD 3/4 . . $290</li>                          
                <li class="text-center"><span class="fa-li"></span>STA JULIA CHARD 1/2 . . . $310</li>                          
                <li class="text-center"><span class="fa-li"></span>SANT JUL DULCE 3/4 . . .  $360</li>                          
                <li class="text-center"><span class="fa-li"></span>LATITUD 33 . . . . . . .  $390</li>                          
                <li class="text-center"><span class="fa-li"></span>SELECCION LOPEZ 3/4 BL .  $350</li>                          
                <li class="text-center"><span class="fa-li"></span>STA JULIA MERLOT/ MALBEC  $470</li>                          
                <li class="text-center"><span class="fa-li"></span>BENJAMIN NIET MERLOT . .  $380</li>                          
                <li class="text-center"><span class="fa-li"></span>ELEMENTOS .3/4 . . . . .  $290</li>                          
                <li class="text-center"><span class="fa-li"></span>STA JULIA 1/2 MALBEC . .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>FINCAS L MORAS . . . . .  $215</li>                          
                <li class="text-center"><span class="fa-li"></span>NIETO SENETINER . . . . . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>SELECCION LOPEZ 1/2 BL .  $165</li>                          
                <li class="text-center"><span class="fa-li"></span>ALMA MORA MALBEC . . . .  $350</li>                          
                <li class="text-center"><span class="fa-li"></span>ALMA MORA CABERNET . . .  $420</li>                          
                <li class="text-center"><span class="fa-li"></span>BENJAMIN NIETO . . . . .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>NEW AGE 3/4 BL . . . . .  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>ANIMAL CABERNET 3/4 . . . $750</li>                          
                <li class="text-center"><span class="fa-li"></span>VALMONT TINTO 3/4 . . . . $320</li>                          
                <li class="text-center"><span class="fa-li"></span>SELECCION LOPEZ 3/4 TIN . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>VALDERROBLES TIN. 3/4 . . $150</li>                          
                <li class="text-center"><span class="fa-li"></span>STA JULIA BARRA . . . . . $260</li>                          
                <li class="text-center"><span class="fa-li"></span>VALMONT TINTO 1/2 . . . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>ALAMO MALBEC . . . . . .  $490</li>                          
                <li class="text-center"><span class="fa-li"></span>SELECCION LOPEZ 1/2 TIN . $165</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA .VINO . . . . . . .  $220</li>                          
                <li class="text-center"><span class="fa-li"></span>VALMONT BLANCO 3/4 . . .  $450</li>                          
                <li class="text-center"><span class="fa-li"></span>PORTILLO 3/4 . . . . . .  $310</li>                          
                <li class="text-center"><span class="fa-li"></span>SANTA JULIA MALBEC . . .  $320</li>                          
              </ul>                                                                                                             
            </div>                                                                                                              
          </div>                                                                                                                
        </div>                                                                                                                  
