      <div class="container">                                                                                                   
        <div class="col-lg-4">                                                                                                  
          <div class="card mb-5 mb-lg-0">                                                                                       
              <h5 class="card-title text-info text-uppercase text-center">LOS DULCES          </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>MINI FRUTILLA . . . . . . $210</li>                          
                <li class="text-center"><span class="fa-li"></span>MINI LEMON . . . . . . .  $200</li>                          
                <li class="text-center"><span class="fa-li"></span>FACTURAS DOCENA . . . . . $320</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIA DOCENA FACTURA P/LL $160</li>                          
                <li class="text-center"><span class="fa-li"></span>MASAS SECAS (KILO) . . . $1250</li>                          
                <li class="text-center"><span class="fa-li"></span>MASAS SECAS 1/2 KILO . .  $625</li>                          
                <li class="text-center"><span class="fa-li"></span>MASAS SECAS 1/4 KILO . .  $312</li>                          
                <li class="text-center"><span class="fa-li"></span>DOCENA CHURROS . . . . .  $320</li>                          
                <li class="text-center"><span class="fa-li"></span>1/2 DOC CHURROS . . . . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIALUNAS/FACTURAS . . .  $40</li>                          
                <li class="text-center"><span class="fa-li"></span>PAN X KG . . . . . . . .  $140</li>                          
                <li class="text-center"><span class="fa-li"></span>CREMONA/ TRENCITAS X KG . $380</li>                          
                <li class="text-center"><span class="fa-li"></span>MASAS SECAS (2) . . . . .  $80</li>                          
                <li class="text-center"><span class="fa-li"></span>TOSTADAS . . . . . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>ALFAJORES VARIOS . . . .   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>MINI SACH/CHEESE / MOUSSE $240</li>                          
                <li class="text-center"><span class="fa-li"></span>DULCE/MANTECA/MERMELADA . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>PAN DULCE . . . . . . . . $850</li>                          
                <li class="text-center"><span class="fa-li"></span>MINI PAN DULCE . . . . .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>CHEESE CAKE . . . . . . . $950</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTA POR KILO . . . . .  $680</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOCOTORTA MINI . . . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>ROLL DE CANELA . . . . .   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 2 DOCENAS DE FACTUR $510</li>                          
                <li class="text-center"><span class="fa-li"></span>ROLL DE CANELA . . . . .   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>ROLL DE CANELA . . . . .   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>BIZCOCHUELO . . . . . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>TARTELETA /CUADRADITO . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>PASTELITOS DOCENA . . . . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>MINI FROLA . . . . . . .  $160</li>                          
                <li class="text-center"><span class="fa-li"></span>PASTA FROLA EFECTIVO . .  $350</li>                          
                <li class="text-center"><span class="fa-li"></span>ROLL DE CANELA . . . . .   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>MINI ROGEL . . . . . . .  $220</li>                          
                <li class="text-center"><span class="fa-li"></span>MINI RICOTA . . . . . . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>MINI BALCARSE/ AFRICANA . $200</li>                          
              </ul>                                                                                                             
            </div>                                                                                                              
          </div>                                                                                                                
        </div>                                                                                                                  
