      <div class="container">                                                                                                   
        <div class="col-lg-4">                                                                                                  
          <div class="card mb-5 mb-lg-0">                                                                                       
              <h5 class="card-title text-info text-uppercase text-center">CHAMPAGNE/SIDRA     </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CHANDON . . . . . . . . .$1150</li>                          
                <li class="text-center"><span class="fa-li"></span>187 CHANDON . . . . . . . $310</li>                          
                <li class="text-center"><span class="fa-li"></span>BARON B . . . . . . . . .$1550</li>                          
                <li class="text-center"><span class="fa-li"></span>CHAMPAGNE DE LA CASA . .  $295</li>                          
                <li class="text-center"><span class="fa-li"></span>SIDRA . . . . . . . . . . $215</li>                          
              </ul>                                                                                                             
            </div>                                                                                                              
          </div>                                                                                                                
        </div>                                                                                                                  
