      <div class="container">                                                                                                   
        <div class="col-lg-4">                                                                                                  
          <div class="card mb-5 mb-lg-0">                                                                                       
              <h5 class="card-title text-info text-uppercase text-center">SANDWICH ESPECIALES </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>ESPECIAL DE SALAME . . .  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPECIAL DE QUESO . . . . $160</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPECIAL DE COCIDO . . .  $160</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPECIAL COCIDO Y QUESO . $185</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPECIAL CRUDO . . . . .  $220</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPECIAL CRUDO Y QUESO .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>DE MATAMBRE CASERO . . .  $240</li>                          
                <li class="text-center"><span class="fa-li"></span>RISOTTO . POLLO . . . . . $290</li>                          
              </ul>                                                                                                             
            </div>                                                                                                              
          </div>                                                                                                                
        </div>                                                                                                                  
