    <section class="pricing py-5">                                                                                              
      <div class="container bg-warning">                                                                                        
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">SANDWICHES          </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SAND. QUESO SOLO . . . .  $230</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND. JAMON COCIDO . . .  $230</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND. JAMON COCIDO Y QUES $250</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND. JAMON CRUDO . . . . $260</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND. JAMON CRUDO Y QUESO $290</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND. SOLO POLLO . . . .  $430</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND. CLASICO POLLO . . . $530</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND. CLASICO LOMO . . .  $650</li>                          
                <li class="text-center"><span class="fa-li"></span>SAN. MILANESA . . . . . . $410</li>                          
                <li class="text-center"><span class="fa-li"></span>TOSTADO MIXTO . . . . . . $260</li>                          
                <li class="text-center"><span class="fa-li"></span>ARABE LOMO SOLO . . . . . $550</li>                          
                <li class="text-center"><span class="fa-li"></span>ARABE HAMBURGUESA SOLA .  $370</li>                          
                <li class="text-center"><span class="fa-li"></span>ARABE HAMBURGUESA CLAS .  $430</li>                          
                <li class="text-center"><span class="fa-li"></span>ARABE MILA CLASICO . . .  $500</li>                          
                <li class="text-center"><span class="fa-li"></span>ARABE MILA LIBERTADOR . . $480</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ENTRADAS            </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>J CRUDO CON RUSSA . . . . $330</li>                          
                <li class="text-center"><span class="fa-li"></span>J CRUDO CON ANANA O PALMI $350</li>                          
                <li class="text-center"><span class="fa-li"></span>J. CRUDO C/ PALMITO . . . $400</li>                          
                <li class="text-center"><span class="fa-li"></span>J CRUDU CON RUSA . . . .  $370</li>                          
                <li class="text-center"><span class="fa-li"></span>DADITOS DE MOZZARELLA . . $480</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ENSALADAS ESPECIALES</h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PANACHE DE VERDURAS . . . $420</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS DOS O TRES GUSTOS . . $300</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS 5 GUSTOS . . . . . .  $380</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS GRANDE ESPECIAL . . . $330</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS CHICA ESPECIAL . . .  $230</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">NUESTRA COCINA      </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>MENU BAJAS CALORIAS 2 . . $330</li>                          
                <li class="text-center"><span class="fa-li"></span>MENU BAJAS CALORIAS 3 . . $430</li>                          
                <li class="text-center"><span class="fa-li"></span>MENU BAJAS CALORIAS 4 . . $430</li>                          
                <li class="text-center"><span class="fa-li"></span>MENU.PRIMAVERA VERANO . . $360</li>                          
                <li class="text-center"><span class="fa-li"></span>TABASCO . . . . . . . . .  $15</li>                          
                <li class="text-center"><span class="fa-li"></span>RABAS PORC . . . . . . .  $700</li>                          
                <li class="text-center"><span class="fa-li"></span>MENU 355 . . . . . . . .  $355</li>                          
                <li class="text-center"><span class="fa-li"></span>MENU 395 . . . . . . . .  $395</li>                          
                <li class="text-center"><span class="fa-li"></span>HUEVO REVUELTO . . . . .  $400</li>                          
                <li class="text-center"><span class="fa-li"></span>HUEVO FRITO O DURO . . .   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>FESTIVAL DE ÑOQUIS . . .  $400</li>                          
                <li class="text-center"><span class="fa-li"></span>REVUELTO GRAMAJO . . . .  $500</li>                          
                <li class="text-center"><span class="fa-li"></span>OMELETTES ESPECIALES . .  $510</li>                          
                <li class="text-center"><span class="fa-li"></span>OMELETTES QUESO O JAMON . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>OMELETTES JAMON Y QUESO . $480</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTILLAS A LA ESPANOLA . $500</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTILLAS DE VERD O PAPA  $440</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTILLAS DE PAPA Y CEBOL $460</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA DE TERNERA . . . $400</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA DE TERNERA MUZZA . . $430</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA TERNERA NAPOLITANA . $430</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA DE TERNERA COMPLETA  $490</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA DE TERNERA RIOJANA . $780</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA DE POLLO . . . . . . $400</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA DE POLLO . . . .  $430</li>                          
                <li class="text-center"><span class="fa-li"></span>SU.PREMA DE POLLO MUZZA . $480</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA DE POLLO NAPOLITA $480</li>                          
                <li class="text-center"><span class="fa-li"></span>FILET DE MERLUZA . . . .  $410</li>                          
                <li class="text-center"><span class="fa-li"></span>HABURGESA AL PLATO . . .  $390</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA SOJA . . . . . . . . $350</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA SOJA NAPO(2) . . $390</li>                          
                <li class="text-center"><span class="fa-li"></span>MATAMBRE CON RUSA . . . . $550</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON CRUDO CON RUSA . .  $700</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON CRUDO CON PALMITOS  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON CRUDO CON ANANA . . $750</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PARRILLA            </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>MINI BIFE DE CHORIZO . .  $600</li>                          
                <li class="text-center"><span class="fa-li"></span>BIFE DE CHORIZO . . . . . $800</li>                          
                <li class="text-center"><span class="fa-li"></span>BIFE DE LOMO . . . . . .  $800</li>                          
                <li class="text-center"><span class="fa-li"></span>1/4 DE POLLO DESHUESADO D $430</li>                          
                <li class="text-center"><span class="fa-li"></span>PARRILLA DE LOMO . . . .  $500</li>                          
                <li class="text-center"><span class="fa-li"></span>ASADO . . . . . . . . . . $500</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ACOMPANAMIENTOS     </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>GUARNI ESPECIAL MIX . . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>GUARNI ESPECIAL . . . . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>GUARNICION D PAPAS FRITAS  $80</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC.PURE-FRITAS . . . .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPINACA A LA CREMA . . . $260</li>                          
                <li class="text-center"><span class="fa-li"></span>PURE CALABAZA CON MUZZA . $230</li>                          
                <li class="text-center"><span class="fa-li"></span>CALABAZA CON QUESO . . .  $175</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMO GRUYERE . . . . . .  $100</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">AVES                </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>1/4 POLLO ESPECIAL . . .  $260</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA LA TORRE . . . .  $850</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA SUIZA . . . . . . $460</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA MARYLAND . . . .  $850</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PASTAS  SALSAS      </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>ESTOFADO DE CARNE O POLLO $270</li>                          
                <li class="text-center"><span class="fa-li"></span>CREPPES .DE MUZZA Y JAMON $270</li>                          
                <li class="text-center"><span class="fa-li"></span>PASTAS RELLENAS . . . . . $260</li>                          
                <li class="text-center"><span class="fa-li"></span>PASTAS AL HUEVO . . . . . $240</li>                          
                <li class="text-center"><span class="fa-li"></span>CREPPES CAPRESSE . . . .  $290</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA BOLOGNESA . . . . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA SCARPARO . . . . .  $170</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA FILETO . . . . . .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA .CARUSO-PARRICIEN . $190</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA A LA CREMA . . . .  $140</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA MIXTA . . . . . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA 4 QUESO/ PARICCIENN $190</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA SUE SUE . . . . . . $190</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA .BLANCA . . . . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>SAL MANTE O MANTECA Y AJO $170</li>                          
                <li class="text-center"><span class="fa-li"></span>PESTO . . . . . . . . . .  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>ALBAHACA,MANTECA Y AJO .   $50</li>                          
                <li class="text-center"><span class="fa-li"></span>A LA MANTECA . . . . . .  $100</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PIZZA A LA PIEDRA   </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PORCION MUZZA . . . . . .  $60</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION MUZZA CON JAMON .  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION JYM . . . . . . .  $80</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION JAMON Y MORRONES   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION VERDURA . . . . .  $80</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION NAPO . . . . . .   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO PIZZA . . . . . . . $200</li>                          
                <li class="text-center"><span class="fa-li"></span>PROM PIZZA GR+COCAG+FAINA $650</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO.GRA.MUZZA+LAT . . . $550</li>                          
                <li class="text-center"><span class="fa-li"></span>FAINA . . . . . . . . . .  $40</li>                          
                <li class="text-center"><span class="fa-li"></span>FUGAZZETA CON QUESO . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>FUGAZZETA CON JAMON . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>PROM PIZZA GR+COCAG+FAINA $650</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA RELLENA C/ J . . .  $850</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA RELLENA . . . . . . $800</li>                          
                <li class="text-center"><span class="fa-li"></span>P. MOZZARELLA GRANDE . .  $440</li>                          
                <li class="text-center"><span class="fa-li"></span>P. MOZZA Y JAMON GR . . . $510</li>                          
                <li class="text-center"><span class="fa-li"></span>P. AJO AL OLEO . . . . .  $210</li>                          
                <li class="text-center"><span class="fa-li"></span> AL MORRON GR . . . . . . $580</li>                          
                <li class="text-center"><span class="fa-li"></span>P. DE ANCHOAS GR . . . .  $440</li>                          
                <li class="text-center"><span class="fa-li"></span>P. FUGAZZA GR . . . . . . $430</li>                          
                <li class="text-center"><span class="fa-li"></span>P. FUGAZZA CON QUESO GR . $580</li>                          
                <li class="text-center"><span class="fa-li"></span>P. NAPOLITANA GR . . . .  $580</li>                          
                <li class="text-center"><span class="fa-li"></span>P. NAPOLITANA ESP GR . .  $630</li>                          
                <li class="text-center"><span class="fa-li"></span>P. MOZZARELLA CHICA . . . $340</li>                          
                <li class="text-center"><span class="fa-li"></span>P. MUZZA Y JAMON CH . . . $390</li>                          
                <li class="text-center"><span class="fa-li"></span>P. AJO AL OLEO CH . . . . $235</li>                          
                <li class="text-center"><span class="fa-li"></span>P. AL MORRON CH . . . . . $440</li>                          
                <li class="text-center"><span class="fa-li"></span>P. DE ANCHOAS CH . . . .  $340</li>                          
                <li class="text-center"><span class="fa-li"></span>P. FUGAZZA CH . . . . . . $330</li>                          
                <li class="text-center"><span class="fa-li"></span>P. FUGAZZA CON QUESO CH . $440</li>                          
                <li class="text-center"><span class="fa-li"></span>P. NAPOLITANA CH . . . .  $440</li>                          
                <li class="text-center"><span class="fa-li"></span>P. NAPOLITANA ESP CH . .  $480</li>                          
                <li class="text-center"><span class="fa-li"></span>P. CALABRESA GR . . . . . $630</li>                          
                <li class="text-center"><span class="fa-li"></span>P. PROVOLONE GR . . . . . $630</li>                          
                <li class="text-center"><span class="fa-li"></span>P. PALMITOS GR . . . . .  $780</li>                          
                <li class="text-center"><span class="fa-li"></span>P. AL ROQUEFORT GR . . .  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>CARIBENA GR . . . . . . . $630</li>                          
                <li class="text-center"><span class="fa-li"></span>P. AL CHAMPIGNON GR . . . $750</li>                          
                <li class="text-center"><span class="fa-li"></span>P. VERDE GR . . . . . . . $580</li>                          
                <li class="text-center"><span class="fa-li"></span>GR LA TORRE . . . . . . . $750</li>                          
                <li class="text-center"><span class="fa-li"></span>P. ROMANA GR . . . . . .  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>P. CALABRESA CH . . . . . $480</li>                          
                <li class="text-center"><span class="fa-li"></span>P. PROVOLONE CH . . . . . $480</li>                          
                <li class="text-center"><span class="fa-li"></span>P. PALMITOS CH . . . . .  $620</li>                          
                <li class="text-center"><span class="fa-li"></span>P. AL ROQUEFORT CH . . .  $580</li>                          
                <li class="text-center"><span class="fa-li"></span>CARIBENA CH . . . . . . . $500</li>                          
                <li class="text-center"><span class="fa-li"></span>P. AL CHAMPIGNON CH . . . $580</li>                          
                <li class="text-center"><span class="fa-li"></span>P. VERDE CH . . . . . . . $440</li>                          
                <li class="text-center"><span class="fa-li"></span>CH LA TORRE . . . . . . . $580</li>                          
                <li class="text-center"><span class="fa-li"></span>P. ROMANA CH . . . . . .  $540</li>                          
                <li class="text-center"><span class="fa-li"></span>DI ROMA GR . . . . . . .  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>DI ROMA CH . . . . . . .  $580</li>                          
                <li class="text-center"><span class="fa-li"></span>GR QUATRO FORMAGGI . . .  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>CH QUARTO FORMAGGI . . .  $580</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANO GR . . . . . . . . $630</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANO CH . . . . . . . . $485</li>                          
                <li class="text-center"><span class="fa-li"></span>MARGARITA . . . . . . . . $510</li>                          
                <li class="text-center"><span class="fa-li"></span>MARGARITA CH . . . . . .  $390</li>                          
                <li class="text-center"><span class="fa-li"></span>GR REGINA . . . . . . . . $750</li>                          
                <li class="text-center"><span class="fa-li"></span>LA REGINA CH . . . . . .  $580</li>                          
                <li class="text-center"><span class="fa-li"></span>GR ESMERALDA HISPANA . .  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>CH ESMERALDA HISPANA . .  $580</li>                          
                <li class="text-center"><span class="fa-li"></span>GR ESMERALDA HISPANA . .  $630</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">EMPANADAS Y TARTAS  </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PROM1/2 EMPA+LATA CER . . $400</li>                          
                <li class="text-center"><span class="fa-li"></span>DOC DE EMPANADAS . . . .  $700</li>                          
                <li class="text-center"><span class="fa-li"></span>EMPANADA . . . . . . . .   $70</li>                          
                <li class="text-center"><span class="fa-li"></span>TARTA . . . . . . . . . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIA DOCENA EMPANADAS .  $360</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/torre/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
