      <div class="container">                                                                                                   
        <div class="col-lg-4">                                                                                                  
          <div class="card mb-5 mb-lg-0">                                                                                       
              <h5 class="card-title text-info text-uppercase text-center">LIGHT               </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CANASTITAS . . . . . . .   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>PREVENTA LOCRO . . . . .  $350</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 18 EMPANADAS . . . $1050</li>                          
              </ul>                                                                                                             
            </div>                                                                                                              
          </div>                                                                                                                
        </div>                                                                                                                  
