      <div class="container">                                                                                                   
        <div class="col-lg-4">                                                                                                  
          <div class="card mb-5 mb-lg-0">                                                                                       
              <h5 class="card-title text-info text-uppercase text-center">PARA SOBORIZAR      </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>OLIVA O MANTECA . . . . .  $80</li>                          
                <li class="text-center"><span class="fa-li"></span>PUTANESCA . . . . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>ROSE . . . . . . . . . .  $130</li>                          
                <li class="text-center"><span class="fa-li"></span>FILETO . . . . . . . . .   $95</li>                          
                <li class="text-center"><span class="fa-li"></span>BOLOGNESA . . . . . . . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>CARUSO . . . . . . . . .  $155</li>                          
                <li class="text-center"><span class="fa-li"></span>SCARPARO . . . . . . . .  $145</li>                          
                <li class="text-center"><span class="fa-li"></span>CARBONARA . . . . . . . . $165</li>                          
                <li class="text-center"><span class="fa-li"></span>PESTO . . . . . . . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA CREMA . . . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>PARISIEN . . . . . . . .  $200</li>                          
                <li class="text-center"><span class="fa-li"></span>QUATRO FORMAGGIO . . . .  $230</li>                          
                <li class="text-center"><span class="fa-li"></span>ESTOFADO . . . . . . . .  $200</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA BLANCA . . . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA MIXTA . . . . . . . $120</li>                          
              </ul>                                                                                                             
            </div>                                                                                                              
          </div>                                                                                                                
        </div>                                                                                                                  
