    <section class="pricing py-5">                                                                                              
      <div class="container bg-danger">                                                                                         
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center">CAFETERIA           </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CAFE LA EXPRESO . . . . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE CON CREMA . . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE DOBLE . . . . . . .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE DOBLE CON CREMA . .  $160</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE CON LECHE . . . . .  $130</li>                          
                <li class="text-center"><span class="fa-li"></span>DESAY / MERIENDA LUNAS .  $190</li>                          
                <li class="text-center"><span class="fa-li"></span>CAPUCHINO . . . . . . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE AMERICANO . . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE AMERICANO CON CREMA  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>SUBMARINO . . . . . . . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>LECHE CHOCOLATADA . . . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>TE SABORIZADO . . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>VASO DE LECHE . . . . . . $160</li>                          
                <li class="text-center"><span class="fa-li"></span>TE . . . . . . . . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>TE CON LECHE . . . . . .  $130</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 1/2 TOSTADO MIXTO . $290</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIALUNAS . . . . . . .   $40</li>                          
                <li class="text-center"><span class="fa-li"></span>TOSTADAS O GALLETITAS . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>YOGURT . . . . . . . . .  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION DE TORTA . . . .  $230</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION DE FLORA . . . .  $190</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTA DE RICOTA . . . . . $190</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOCO TORTA . . . . . . . $230</li>                          
                <li class="text-center"><span class="fa-li"></span>6 MEDIALUNAS . . . . . .  $200</li>                          
                <li class="text-center"><span class="fa-li"></span>DOC DE MEDIALUNAS . . . . $400</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center">DESAYUNOS Y TORTAS  </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CAFE .CON LECH 2 LUNA . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE CON LECHE TOSTADAS . $240</li>                          
                <li class="text-center"><span class="fa-li"></span>CAPUCHINO A LA ITALIANA . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>DESAYUNO ESPECIAL LA TORR $800</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE ESPECIALES . . . . . $230</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE LA TORRE COMPLETO .  $850</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/torre/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
    <section class="pricing py-5">                                                                                              
      <div class="container bg-success">                                                                                        
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">BEBIDAS   SIN ALCOHO</h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SABORISADAS . . . . . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>GASEOSA O AGUA MINERAL .  $140</li>                          
                <li class="text-center"><span class="fa-li"></span>LICUADO DE BANA-DURAZ-ANA $200</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA .DE LIMON . . . . .   $50</li>                          
                <li class="text-center"><span class="fa-li"></span>LICUADO MULTIFRUTAS . . . $220</li>                          
                <li class="text-center"><span class="fa-li"></span>JUGO NATURAL DE NARANJA . $190</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">BEBIDAS ALCOHOLICAS </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>COPA MOSCATO . . . . . .  $140</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA DE LOPEZ . . . . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA DE LA CASA . . . . . $160</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA RINCON FAMOSO . . .  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>JARRA DE CERVEZA . . . .  $370</li>                          
                <li class="text-center"><span class="fa-li"></span>JARRA DE VINO DE MOSCATO. $300</li>                          
                <li class="text-center"><span class="fa-li"></span>JARRA DE VINO DE 1/2 LITR  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>JARRA MOSCATO . . . . . . $240</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOPP QUILME.O LATA IM .  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>IMPERIAL LT . . . . . . . $310</li>                          
                <li class="text-center"><span class="fa-li"></span>STELLA O HEINKEN . . . .  $370</li>                          
                <li class="text-center"><span class="fa-li"></span>VASCO VIEJO 3/4 . . . . . $350</li>                          
                <li class="text-center"><span class="fa-li"></span>LOPEZ .3/4 TINTO . . . .  $480</li>                          
                <li class="text-center"><span class="fa-li"></span>RINCON FAMOSO TINTO 3/4 . $570</li>                          
                <li class="text-center"><span class="fa-li"></span>VASCO VIEJO 1/2 . . . . . $220</li>                          
                <li class="text-center"><span class="fa-li"></span>1/2 LOPEZ . . . . . . . . $320</li>                          
                <li class="text-center"><span class="fa-li"></span>1/2 RINCON FAMOSO . . . . $200</li>                          
                <li class="text-center"><span class="fa-li"></span>ADICIONAL CORTE D GIN C/U  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>SIDRA . . . . . . . . . . $420</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">LICORES             </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>GANCIA O CINZANO . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>CAMPARI O FERNET . . . .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>BATIDO DE GANCIA . . . .  $125</li>                          
                <li class="text-center"><span class="fa-li"></span>CORTE GIN . . . . . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>RESERVA SAN JUAN . . . .  $170</li>                          
                <li class="text-center"><span class="fa-li"></span>TIA MARIA . . . . . . . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>VODKA/GIN . . . . . . . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>RHUM NEGRITA . . . . . .  $190</li>                          
                <li class="text-center"><span class="fa-li"></span>RHUM BACARDI HAVANA CLOD  $260</li>                          
                <li class="text-center"><span class="fa-li"></span>COINTREAU . . . . . . . . $260</li>                          
                <li class="text-center"><span class="fa-li"></span>BAILY´S . . . . . . . . . $260</li>                          
                <li class="text-center"><span class="fa-li"></span>ABSOLUT .VODKA . . . . .  $260</li>                          
                <li class="text-center"><span class="fa-li"></span>GIN TONIC . . . . . . . . $330</li>                          
                <li class="text-center"><span class="fa-li"></span>CUBA LIBRE . . . . . . .  $330</li>                          
                <li class="text-center"><span class="fa-li"></span>WHISCOLA . . . . . . . .  $330</li>                          
                <li class="text-center"><span class="fa-li"></span>FERNET COLA . . . . . . . $330</li>                          
                <li class="text-center"><span class="fa-li"></span>WHISKY NACIONAL . . . . . $125</li>                          
                <li class="text-center"><span class="fa-li"></span>IMPORTADOS J&B . . . . .  $350</li>                          
                <li class="text-center"><span class="fa-li"></span>CHIVAS REGAL . . . . . .  $500</li>                          
                <li class="text-center"><span class="fa-li"></span>CRIADORES O OLD SMIGGLER  $105</li>                          
                <li class="text-center"><span class="fa-li"></span>CHANDOM (EXTRA BRUT) . .  $850</li>                          
                <li class="text-center"><span class="fa-li"></span>NACIONAL . . . . . . . .  $650</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/torre/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
    <section class="pricing py-5">                                                                                              
      <div class="container bg-warning">                                                                                        
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">SANDWICHES          </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SAND. QUESO SOLO . . . .  $270</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND. JAMON COCIDO . . .  $270</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND. JAMON COCIDO Y QUES $290</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND. JAMON CRUDO . . . . $310</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND. JAMON CRUDO Y QUESO $350</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND. SOLO POLLO . . . .  $500</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND. CLASICO POLLO . . . $600</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND. CLASICO LOMO . . .  $730</li>                          
                <li class="text-center"><span class="fa-li"></span>SAN. MILANESA . . . . . . $480</li>                          
                <li class="text-center"><span class="fa-li"></span>TOSTADO MIXTO . . . . . . $310</li>                          
                <li class="text-center"><span class="fa-li"></span>ARABE LOMO SOLO . . . . . $630</li>                          
                <li class="text-center"><span class="fa-li"></span>ARABE HAMBURGUESA SOLA .  $430</li>                          
                <li class="text-center"><span class="fa-li"></span>ARABE HAMBURGUESA CLAS .  $530</li>                          
                <li class="text-center"><span class="fa-li"></span>ARABE MILA CLASICO . . .  $580</li>                          
                <li class="text-center"><span class="fa-li"></span>ARABE MILA LIBERTADOR . . $530</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ENTRADAS            </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>J CRUDO CON RUSSA . . . . $330</li>                          
                <li class="text-center"><span class="fa-li"></span>J CRUDO CON ANANA O PALMI $350</li>                          
                <li class="text-center"><span class="fa-li"></span>J. CRUDO C/ PALMITO . . . $400</li>                          
                <li class="text-center"><span class="fa-li"></span>J CRUDU CON RUSA . . . .  $370</li>                          
                <li class="text-center"><span class="fa-li"></span>DADITOS DE MOZZARELLA . . $630</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ENSALADAS ESPECIALES</h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PANACHE DE VERDURAS . . . $630</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS DOS O TRES GUSTOS . . $330</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS 5 GUSTOS . . . . . .  $430</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS GRANDE ESPECIAL . . . $430</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS CHICA ESPECIAL . . .  $330</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">NUESTRA COCINA      </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>MENU BAJAS CALORIAS 2 . . $330</li>                          
                <li class="text-center"><span class="fa-li"></span>MENU BAJAS CALORIAS 3 . . $430</li>                          
                <li class="text-center"><span class="fa-li"></span>MENU BAJAS CALORIAS 4 . . $430</li>                          
                <li class="text-center"><span class="fa-li"></span>MENU.PRIMAVERA VERANO . . $360</li>                          
                <li class="text-center"><span class="fa-li"></span>MEN EJECUTIVO.PLA . . . . $480</li>                          
                <li class="text-center"><span class="fa-li"></span>RABAS PORC . . . . . . . $1400</li>                          
                <li class="text-center"><span class="fa-li"></span>HUEVO REVUELTO . . . . .  $550</li>                          
                <li class="text-center"><span class="fa-li"></span>HUEVO FRITO O DURO . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>FESTIVAL DE ÑOQUIS . . .  $400</li>                          
                <li class="text-center"><span class="fa-li"></span>REVUELTO GRAMAJO . . . .  $550</li>                          
                <li class="text-center"><span class="fa-li"></span>OMELETTES ESPECIALES . .  $600</li>                          
                <li class="text-center"><span class="fa-li"></span>OMELETTES QUESO O JAMON . $500</li>                          
                <li class="text-center"><span class="fa-li"></span>OMELETTES JAMON Y QUESO . $550</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTILLAS A LA ESPANOLA . $600</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTILLAS DE VERD O PAPA  $500</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTILLAS DE PAPA Y CEBOL $550</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA DE TERNERA . . . $430</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA DE TERNERA MUZZA . . $470</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA TERNERA NAPOLITANA . $470</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA DE TERNERA COMPLETA  $550</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA DE TERNERA RIOJANA . $880</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA DE POLLO . . . . . . $410</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA DE POLLO . . . .  $460</li>                          
                <li class="text-center"><span class="fa-li"></span>SU.PREMA DE POLLO MUZZA . $510</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA DE POLLO NAPOLITA $510</li>                          
                <li class="text-center"><span class="fa-li"></span>FILET DE MERLUZA . . . .  $450</li>                          
                <li class="text-center"><span class="fa-li"></span>HABURGESA AL PLATO . . .  $400</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA SOJA . . . . . . . . $440</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA SOJA NAPO(2) . . $480</li>                          
                <li class="text-center"><span class="fa-li"></span>MATAMBRE CON RUSA . . . .$1100</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON CRUDO CON RUSA . . $1300</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON CRUDO CON PALMITOS $1300</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON CRUDO CON ANANA . .$1300</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PARRILLA            </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>MINI BIFE DE CHORIZO . .  $680</li>                          
                <li class="text-center"><span class="fa-li"></span>BIFE DE CHORIZO . . . . . $950</li>                          
                <li class="text-center"><span class="fa-li"></span>BIFE DE LOMO . . . . . . $1100</li>                          
                <li class="text-center"><span class="fa-li"></span>1/4 DE POLLO DESHUESADO D $460</li>                          
                <li class="text-center"><span class="fa-li"></span>PARRILLA DE LOMO . . . .  $680</li>                          
                <li class="text-center"><span class="fa-li"></span>ASADO DE TIRA . . . . . . $700</li>                          
                <li class="text-center"><span class="fa-li"></span>ASADO . . . . . . . . . . $500</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ACOMPANAMIENTOS     </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>GUARNI ESPECIAL MIX . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>GUARNI ESPECIAL . . . . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>GUARNICION D PAPAS FRITAS  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC.PURE-FRITAS . . . .  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPINACA A LA CREMA . . . $330</li>                          
                <li class="text-center"><span class="fa-li"></span>PURE CALABAZA CON MUZZA . $330</li>                          
                <li class="text-center"><span class="fa-li"></span>CALABAZA CON QUESO . . .  $175</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMO GRUYERE . . . . . .  $100</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">AVES                </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>1/4 POLLO ESPECIAL . . .  $260</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA LA TORRE . . . . $1000</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA SUIZA . . . . . . $550</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA MARYLAND . . . . $1000</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PASTAS  SALSAS      </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>ESTOFADO DE CARNE O POLLO $300</li>                          
                <li class="text-center"><span class="fa-li"></span>CREPPES .DE MUZZA Y JAMON $310</li>                          
                <li class="text-center"><span class="fa-li"></span>PASTAS RELLENAS . . . . . $290</li>                          
                <li class="text-center"><span class="fa-li"></span>PASTAS AL HUEVO . . . . . $270</li>                          
                <li class="text-center"><span class="fa-li"></span>CREPPES CAPRESSE . . . .  $340</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA BOLOGNESA . . . . . $190</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA SCARPARO . . . . .  $190</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA FILETO . . . . . .  $170</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA .CARUSO-PARRICIEN . $210</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA A LA CREMA . . . .  $170</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA MIXTA . . . . . . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA 4 QUESO/ PARICCIENN $210</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA SUE SUE . . . . . . $210</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA .BLANCA . . . . . . $190</li>                          
                <li class="text-center"><span class="fa-li"></span>SAL MANTE O MANTECA Y AJO $190</li>                          
                <li class="text-center"><span class="fa-li"></span>PESTO . . . . . . . . . .  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>ALBAHACA,MANTECA Y AJO .   $50</li>                          
                <li class="text-center"><span class="fa-li"></span>A LA MANTECA . . . . . .  $100</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PIZZA A LA PIEDRA   </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PORCION MUZZA . . . . . .  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION MUZZA CON JAMON .  $80</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION JYM . . . . . . .  $80</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION JAMON Y MORRONES   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION VERDURA . . . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION NAPO . . . . . .   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO PIZZA . . . . . . . $230</li>                          
                <li class="text-center"><span class="fa-li"></span>PROM PIZZA .CON IMPERIAL  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO.GRA.MUZZA+LAT . . . $550</li>                          
                <li class="text-center"><span class="fa-li"></span>FAINA . . . . . . . . . .  $40</li>                          
                <li class="text-center"><span class="fa-li"></span>FUGAZZETA CON QUESO . . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>FUGAZZETA CON JAMON . . . $150</li>                          
                <li class="text-center"><span class="fa-li"></span>PROM PIZZA GR+COCAG+FAINA $650</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA RELLENA C/ J . . . $1100</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZA RELLENA . . . . . . $900</li>                          
                <li class="text-center"><span class="fa-li"></span>P. MOZZARELLA GRANDE . .  $500</li>                          
                <li class="text-center"><span class="fa-li"></span>P. MOZZA Y JAMON GR . . . $580</li>                          
                <li class="text-center"><span class="fa-li"></span>P. AJO AL OLEO . . . . .  $210</li>                          
                <li class="text-center"><span class="fa-li"></span>P. AL MORRON GR . . . . . $650</li>                          
                <li class="text-center"><span class="fa-li"></span>P. DE ANCHOAS GR . . . .  $510</li>                          
                <li class="text-center"><span class="fa-li"></span>P. FUGAZZA GR . . . . . . $480</li>                          
                <li class="text-center"><span class="fa-li"></span>P. FUGAZZA CON QUESO GR . $650</li>                          
                <li class="text-center"><span class="fa-li"></span>P. NAPOLITANA GR . . . .  $650</li>                          
                <li class="text-center"><span class="fa-li"></span>P. NAPOLITANA ESP GR . .  $730</li>                          
                <li class="text-center"><span class="fa-li"></span>P. MOZZARELLA CHICA . . . $380</li>                          
                <li class="text-center"><span class="fa-li"></span>P. MUZZA Y JAMON CH . . . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>P. AJO AL OLEO CH . . . . $235</li>                          
                <li class="text-center"><span class="fa-li"></span>P. AL MORRON CH . . . . . $500</li>                          
                <li class="text-center"><span class="fa-li"></span>P. DE ANCHOAS CH . . . .  $400</li>                          
                <li class="text-center"><span class="fa-li"></span>P. FUGAZZA CH . . . . . . $360</li>                          
                <li class="text-center"><span class="fa-li"></span>P. FUGAZZA CON QUESO CH . $500</li>                          
                <li class="text-center"><span class="fa-li"></span>P. NAPOLITANA CH . . . .  $500</li>                          
                <li class="text-center"><span class="fa-li"></span>P. NAPOLITANA ESP CH . .  $570</li>                          
                <li class="text-center"><span class="fa-li"></span>P. CALABRESA GR . . . . . $730</li>                          
                <li class="text-center"><span class="fa-li"></span>P. PROVOLONE GR . . . . . $730</li>                          
                <li class="text-center"><span class="fa-li"></span>P. PALMITOS GR . . . . .  $800</li>                          
                <li class="text-center"><span class="fa-li"></span>P. AL ROQUEFORT GR . . .  $780</li>                          
                <li class="text-center"><span class="fa-li"></span>P. CARIBENA GR . . . . .  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>P. AL CHAMPIGNON GR . . . $750</li>                          
                <li class="text-center"><span class="fa-li"></span>P. VERDE GR . . . . . . . $650</li>                          
                <li class="text-center"><span class="fa-li"></span>GR LA TORRE . . . . . . . $850</li>                          
                <li class="text-center"><span class="fa-li"></span>P. ROMANA GR . . . . . .  $850</li>                          
                <li class="text-center"><span class="fa-li"></span>P. CALABRESA CH . . . . . $570</li>                          
                <li class="text-center"><span class="fa-li"></span>P. PROVOLONE CH . . . . . $570</li>                          
                <li class="text-center"><span class="fa-li"></span>P. PALMITOS CH . . . . .  $680</li>                          
                <li class="text-center"><span class="fa-li"></span>P. AL ROQUEFORT CH . . .  $600</li>                          
                <li class="text-center"><span class="fa-li"></span>CARIBENA CH . . . . . . . $600</li>                          
                <li class="text-center"><span class="fa-li"></span>P. AL CHAMPIGNON CH . . . $600</li>                          
                <li class="text-center"><span class="fa-li"></span>P. VERDE CH . . . . . . . $500</li>                          
                <li class="text-center"><span class="fa-li"></span>CH LA TORRE . . . . . . . $700</li>                          
                <li class="text-center"><span class="fa-li"></span>P. ROMANA CH . . . . . .  $700</li>                          
                <li class="text-center"><span class="fa-li"></span>DI ROMA GR . . . . . . .  $850</li>                          
                <li class="text-center"><span class="fa-li"></span>DI ROMA CH . . . . . . .  $700</li>                          
                <li class="text-center"><span class="fa-li"></span>GR QUATRO FORMAGGI . . .  $850</li>                          
                <li class="text-center"><span class="fa-li"></span>CH QUARTO FORMAGGI . . .  $700</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANO GR . . . . . . . . $800</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANO CH . . . . . . . . $680</li>                          
                <li class="text-center"><span class="fa-li"></span>MARGARITA . . . . . . . . $550</li>                          
                <li class="text-center"><span class="fa-li"></span>MARGARITA CH . . . . . .  $420</li>                          
                <li class="text-center"><span class="fa-li"></span>GR REGINA . . . . . . . . $800</li>                          
                <li class="text-center"><span class="fa-li"></span>LA REGINA CH . . . . . .  $680</li>                          
                <li class="text-center"><span class="fa-li"></span>GR ESMERALDA HISPANA . .  $850</li>                          
                <li class="text-center"><span class="fa-li"></span>CH ESMERALDA HISPANA . .  $700</li>                          
                <li class="text-center"><span class="fa-li"></span>GR ESMERALDA HISPANA . .  $850</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">EMPANADAS Y TARTAS  </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PROM PIZZA CON HEINEKEM . $300</li>                          
                <li class="text-center"><span class="fa-li"></span>DOC DE EMPANADAS . . . .  $900</li>                          
                <li class="text-center"><span class="fa-li"></span>EMPANADA . . . . . . . .   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>TARTA . . . . . . . . . . $280</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIA DOCENA EMPANADAS .  $450</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/torre/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
    <section class="pricing py-5">                                                                                              
      <div class="container bg-info">                                                                                           
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-info text-uppercase text-center">POSTRES             </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>FRUTAS A ELECCION . . . . $160</li>                          
                <li class="text-center"><span class="fa-li"></span>MANZANA-BANABA-NARA C/U . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>SOPA INGLESA . . . . . .  $230</li>                          
                <li class="text-center"><span class="fa-li"></span>TIRAMISU . . . . . . . .  $230</li>                          
                <li class="text-center"><span class="fa-li"></span>BUDIN DE PAN . . . . . .  $130</li>                          
                <li class="text-center"><span class="fa-li"></span>FLAN CASERO . . . . . . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA DE FRUTAS . . .  $290</li>                          
                <li class="text-center"><span class="fa-li"></span>DURAZ O ANAN EN ALMIBAR . $190</li>                          
                <li class="text-center"><span class="fa-li"></span>VIGILANTE . . . . . . . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>FRUTILLA PORCION . . . .   $70</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS DE FRUTAS C/HELADO .  $130</li>                          
                <li class="text-center"><span class="fa-li"></span>VIGILANTE . . . . . . . . $160</li>                          
                <li class="text-center"><span class="fa-li"></span>BOCHA DE HELADO . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>HELADO 2 GUSTOS . . . . . $270</li>                          
                <li class="text-center"><span class="fa-li"></span>HELADO MIXTO . . . . . .  $300</li>                          
                <li class="text-center"><span class="fa-li"></span>MOUSE DE CHOCOLATE . . .   $70</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA LA TORRE POSTRE . .  $360</li>                          
                <li class="text-center"><span class="fa-li"></span>BANANA SPLIT . . . . . . $1000</li>                          
                <li class="text-center"><span class="fa-li"></span>POSTRE LA TORRE . . . . .$1000</li>                          
                <li class="text-center"><span class="fa-li"></span>PAN DULCE . . . . . . . . $650</li>                          
                <li class="text-center"><span class="fa-li"></span>TATIN . . . . . . . . . . $400</li>                          
                <li class="text-center"><span class="fa-li"></span>FLAN COMPLETO . . . . . . $190</li>                          
                <li class="text-center"><span class="fa-li"></span>PANQUEQUE MANZANA AL RHUM $370</li>                          
                <li class="text-center"><span class="fa-li"></span>PANQUEQUE DE DULCE SANCOR $260</li>                          
                <li class="text-center"><span class="fa-li"></span>DON PEDRO . . . . . . . . $350</li>                          
                <li class="text-center"><span class="fa-li"></span>FLAN CON HELADO Y FRUTAS  $600</li>                          
                <li class="text-center"><span class="fa-li"></span>MANZANA ASADA . . . . . . $180</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/torre/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
