    <section class="pricing py-5">                                                                                              
      <div class="container bg-danger">                                                                                         
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center">CAFETERIA           </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CAFE LA EXPRESO . . . . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE CON CREMA . . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE DOBLE . . . . . . .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE DOBLE CON CREMA . .  $160</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE CON LECHE . . . . .  $130</li>                          
                <li class="text-center"><span class="fa-li"></span>DESAY / MERIENDA LUNAS .  $190</li>                          
                <li class="text-center"><span class="fa-li"></span>CAPUCHINO . . . . . . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE AMERICANO . . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE AMERICANO CON CREMA  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>SUBMARINO . . . . . . . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>LECHE CHOCOLATADA . . . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>TE SABORIZADO . . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>VASO DE LECHE . . . . . . $160</li>                          
                <li class="text-center"><span class="fa-li"></span>TE . . . . . . . . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>TE CON LECHE . . . . . .  $130</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 1/2 TOSTADO MIXTO . $290</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIALUNAS . . . . . . .   $40</li>                          
                <li class="text-center"><span class="fa-li"></span>TOSTADAS O GALLETITAS . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>YOGURT . . . . . . . . .  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION DE TORTA . . . .  $230</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION DE FLORA . . . .  $190</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTA DE RICOTA . . . . . $190</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOCO TORTA . . . . . . . $230</li>                          
                <li class="text-center"><span class="fa-li"></span>6 MEDIALUNAS . . . . . .  $200</li>                          
                <li class="text-center"><span class="fa-li"></span>DOC DE MEDIALUNAS . . . . $400</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center">DESAYUNOS Y TORTAS  </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CAFE .CON LECH 2 LUNA . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE CON LECHE TOSTADAS . $240</li>                          
                <li class="text-center"><span class="fa-li"></span>CAPUCHINO A LA ITALIANA . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>DESAYUNO ESPECIAL LA TORR $800</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE ESPECIALES . . . . . $230</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE LA TORRE COMPLETO .  $850</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/torre/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
