    <section class="pricing py-5">                                                                                              
      <div class="container bg-success">                                                                                        
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">BEBIDAS   SIN ALCOHO</h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SABORISADAS . . . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>GASEOSA O AGUA MINERAL .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>LICUADO DE BANA-DURAZ-ANA $170</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA .DE LIMON . . . . .   $50</li>                          
                <li class="text-center"><span class="fa-li"></span>LICUADO MULTIFRUTAS . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>JUGO NATURAL DE NARANJA . $170</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">BEBIDAS ALCOHOLICAS </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>COPA MOSCATO . . . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA DE LOPEZ . . . . . . $135</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA DE LA CASA . . . . . $115</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA RINCON FAMOSO . . .   $65</li>                          
                <li class="text-center"><span class="fa-li"></span>JARRA DE CERVEZA . . . .  $335</li>                          
                <li class="text-center"><span class="fa-li"></span>JARRA DE VINO DE MOSCATO. $220</li>                          
                <li class="text-center"><span class="fa-li"></span>JARRA DE VINO DE 1/2 LITR  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>JARRA MOSCATO . . . . . . $240</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOPP QUILME.O LATA IM .  $140</li>                          
                <li class="text-center"><span class="fa-li"></span> QUIL. IMPERIAL LT . . .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>STELLA O HEINKEN . . . .  $300</li>                          
                <li class="text-center"><span class="fa-li"></span>DE LA CASA TINTO 3/4 . .  $260</li>                          
                <li class="text-center"><span class="fa-li"></span>LOPEZ .3/4 TINTO . . . .  $380</li>                          
                <li class="text-center"><span class="fa-li"></span>RINCON FAMOSO TINTO 3/4 . $440</li>                          
                <li class="text-center"><span class="fa-li"></span>VASCO VIEJO 1/2 . . . . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>1/2 LOPEZ . . . . . . . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>1/2 RINCON FAMOSO . . . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>ADICIONAL CORTE D GIN C/U  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>SIDRA . . . . . . . . . . $420</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">LICORES             </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>GANCIA O CINZANO . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>CAMPARI O FERNET . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>BATIDO DE GANCIA . . . .  $125</li>                          
                <li class="text-center"><span class="fa-li"></span>CORTE GIN . . . . . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>RESERVA SAN JUAN . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>TIA MARIA . . . . . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>VODKA/GIN . . . . . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>RHUM NEGRITA . . . . . .  $130</li>                          
                <li class="text-center"><span class="fa-li"></span>RHUM BACARDI HAVANA CLOD  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>COINTREAU . . . . . . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>BAILY´S . . . . . . . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>ABSOLUT .VODKA . . . . .  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>GIN TONIC . . . . . . . . $240</li>                          
                <li class="text-center"><span class="fa-li"></span>CUBA LIBRE . . . . . . .  $240</li>                          
                <li class="text-center"><span class="fa-li"></span>WHISCOLA . . . . . . . .  $240</li>                          
                <li class="text-center"><span class="fa-li"></span>FERNET COLA . . . . . . . $240</li>                          
                <li class="text-center"><span class="fa-li"></span>WHISKY NACIONAL . . . . . $125</li>                          
                <li class="text-center"><span class="fa-li"></span>IMPORTADOS J&B . . . . .  $280</li>                          
                <li class="text-center"><span class="fa-li"></span>CHIVAS REGAL . . . . . .  $400</li>                          
                <li class="text-center"><span class="fa-li"></span>CRIADORES O OLD SMIGGLER  $105</li>                          
                <li class="text-center"><span class="fa-li"></span>CHANDOM (EXTRA BRUT) . .  $850</li>                          
                <li class="text-center"><span class="fa-li"></span>NACIONAL . . . . . . . .  $650</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/torre/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
