      <div class="container">                                                                                                   
        <div class="col-lg-4">                                                                                                  
          <div class="card mb-5 mb-lg-0">                                                                                       
              <h5 class="card-title text-info text-uppercase text-center">OMELETTE / TORTILLA </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>OMELETTE QUESO . . . . .  $240</li>                          
                <li class="text-center"><span class="fa-li"></span>OMELETTE JAMON Y QUESO .  $300</li>                          
                <li class="text-center"><span class="fa-li"></span>OMELETTE ESPECIAL . . . . $300</li>                          
                <li class="text-center"><span class="fa-li"></span>REVUELTO GRAMAJO . . . .  $270</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTILLA SIMPLE . . . . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTILLA ESPECIAL . . . . $300</li>                          
                <li class="text-center"><span class="fa-li"></span>CHORIZO A LA POMAROLA . . $240</li>                          
              </ul>                                                                                                             
            </div>                                                                                                              
          </div>                                                                                                                
        </div>                                                                                                                  
