      <div class="container">                                                                                                   
        <div class="col-lg-4">                                                                                                  
          <div class="card mb-5 mb-lg-0">                                                                                       
              <h5 class="card-title text-info text-uppercase text-center">LO DE SIEMPRE       </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>POLLO ENTERO DELIVERY . . $650</li>                          
                <li class="text-center"><span class="fa-li"></span>LATA QUILMES 473 ML . . . $160</li>                          
                <li class="text-center"><span class="fa-li"></span>ROSCA DE PASCUAS . . . .  $380</li>                          
                <li class="text-center"><span class="fa-li"></span>2 LENTEJ + VINO PACHECO P $250</li>                          
                <li class="text-center"><span class="fa-li"></span>MAYONESA DE AVE . . . . . $300</li>                          
                <li class="text-center"><span class="fa-li"></span>COSTILLITAS DE CERDO RIOJ $690</li>                          
                <li class="text-center"><span class="fa-li"></span>PASTELITOS . . . . . . .   $45</li>                          
                <li class="text-center"><span class="fa-li"></span>LENTEJAS . . . . . . . .  $290</li>                          
              </ul>                                                                                                             
            </div>                                                                                                              
          </div>                                                                                                                
        </div>                                                                                                                  
