      <div class="container">                                                                                                   
        <div class="col-lg-4">                                                                                                  
          <div class="card mb-5 mb-lg-0">                                                                                       
              <h5 class="card-title text-info text-uppercase text-center">TOSTADO ESPECIAL    </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PROMO 2 LOCROS +VINO . .  $910</li>                          
                <li class="text-center"><span class="fa-li"></span>TOSTADO COCIDO Y QUESO .  $240</li>                          
                <li class="text-center"><span class="fa-li"></span>TOST. MIGA CRUDO Y QUESO  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>TOSTADO CRUDO Y QUESO . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>BIFE DE CHORIZO POMPEII . $950</li>                          
              </ul>                                                                                                             
            </div>                                                                                                              
          </div>                                                                                                                
        </div>                                                                                                                  
