      <div class="container">                                                                                                   
        <div class="col-lg-4">                                                                                                  
          <div class="card mb-5 mb-lg-0">                                                                                       
              <h5 class="card-title text-info text-uppercase text-center">PASTAS              </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PROMO PASTA ESPECIAL . .  $160</li>                          
                <li class="text-center"><span class="fa-li"></span>TALLARINES AL HUEVO . . . $165</li>                          
                <li class="text-center"><span class="fa-li"></span>RAVIOLES DE VERDUR/AVE .  $205</li>                          
                <li class="text-center"><span class="fa-li"></span>NOQUIS PURE PAPA . . . .  $165</li>                          
                <li class="text-center"><span class="fa-li"></span>CANELONES ESPIN/POLLO/JAM $205</li>                          
                <li class="text-center"><span class="fa-li"></span>SORRENTINOS DE RICOTA . . $205</li>                          
              </ul>                                                                                                             
            </div>                                                                                                              
          </div>                                                                                                                
        </div>                                                                                                                  
