      <div class="container">                                                                                                   
        <div class="col-lg-4">                                                                                                  
          <div class="card mb-5 mb-lg-0">                                                                                       
              <h5 class="card-title text-info text-uppercase text-center">POSTRES             </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>TARTAS VARIAS . . . . . . $195</li>                          
                <li class="text-center"><span class="fa-li"></span>FLAN CASERO . . . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA DE FRUTAS . . .  $170</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA DE FRUTAS C/HELA $240</li>                          
                <li class="text-center"><span class="fa-li"></span>QUESO Y DULCE . . . . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>VIGILANTE . . . . . . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>BUDIN DE PAN . . . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>FRUTILLAS . . . . . . . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>PANQUEQUE DULCE DE LECHE  $200</li>                          
                <li class="text-center"><span class="fa-li"></span>PANQ. MANZANA AL RHUM . . $320</li>                          
                <li class="text-center"><span class="fa-li"></span>REC CREMA O DULCE . . . .  $80</li>                          
                <li class="text-center"><span class="fa-li"></span>HELADOS VARIOS (2 BOCHAS) $210</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 4// 30 EMP . . . . $1590</li>                          
                <li class="text-center"><span class="fa-li"></span>BOCHA DE HELADO . . . . . $115</li>                          
              </ul>                                                                                                             
            </div>                                                                                                              
          </div>                                                                                                                
        </div>                                                                                                                  
